In [2]:
# Look for ones in the network that we're missing from our classification.
import os
import json

senders = {}
recipients = {}
inputdir = "./final/"
for subdir, dirs, files in os.walk(inputdir):
    for file in files:
        if file[-2:] != "js":
            continue
        json_file = open(subdir + os.sep + file)
        data = json.load(json_file)
        
        for k in ["transactions", "words"]:
            for x in data[k]:
                if "description" not in x:
                    continue
                if x["description"] == "sender":
                   senders[x["transactionID"]] = x["transliteratedWord"] 
                if x["description"] == "recipient":
                   recipients[x["transactionID"]] = x["transliteratedWord"] 
                

print(len(senders), len(recipients))
print(sorted([k for k in senders if k not in recipients]))
print(sorted([k for k in recipients if k not in senders]))

595 567
['ARKH3a-3', 'HT100-0', 'HT100-1', 'HT116a-1', 'HT117a-4', 'HT122b-1', 'HT125a-0', 'HT125b-0', 'HT131a-0', 'HT131b-0', 'HT23a-2', 'HT23a-3', 'HT23a-4', 'HT28a-1', 'HT28a-4', 'HT30-0', 'HT30-2', 'HT32-0', 'HT32-3', 'HT32-4', 'HT58-2', 'HT7a-1', 'HT88-4', 'HT94b-1', 'HT94b-7', 'HT95a-1', 'KH9-3', 'PE1-1']
[]

In [3]:
""" Get the top connected edges and display them in a table """

# Create a list of all edges
edges = [(senders[k], recipients[k]) for k in recipients]
edges += [(recipients[k], senders[k]) for k in recipients]
edges = sorted(set(edges))

# Create a table with the most connected nodes at the top.
from collections import defaultdict
node_count = defaultdict(int)
for f,t in edges:
    node_count[f] += 1
sorted_node_count = dict(sorted(node_count.items(), key=lambda x:x[1], reverse=True))

import pandas as pd
pd.set_option('display.max_rows', None)
styles = [dict(selector="caption", 
    props=[("text-align", "center"),
    ("font-size", "120%"),
    ("color", 'black')])]

df = pd.DataFrame.from_dict(sorted_node_count, orient='index', columns=['Count'])
df.style.set_caption("Most connected Nodes").set_table_styles(styles)

In [63]:
import json
# Print out the top ten connected nodes
print(json.dumps([x for x,y in sorted(node_count.items(), key=lambda x:x[1], reverse=True)[:10]]))

["Haghia Triada Magazine", "Zakros Magazine", "KA-PA", "KI-RO", "A-DU", "PA", "]-RA-RI", "KI-KI-RA-JA", "MA-KA-RI-TE", "U-MI-NA-SI"]

# Acyclic paths in the graph

In [6]:
# Find the longest acyclic paths up to a maximum of X.
def extendPath(p):
    legs = [p + [t] for f, t in edges if f == p[-1] and t not in p and "Magazine" not in t]
    return legs

def getMaxPathLength(n, maxLen=10):
    paths = [[n]]
    i = 0
    while i < maxLen:
        new_paths = []
        for p in paths:
            new_paths += extendPath(p)
        if not new_paths:
            break
        paths = new_paths
        i+=1
    return (i, len(paths), paths)


starting_nodes = list(set([f for f,t in edges]))
path_lengths = [(n,c) for n,c in [(n, getMaxPathLength(n,8)) for n in starting_nodes] if c[0] > 0]

In [7]:
df = pd.DataFrame([(a,b,c) for a,(b,c,d) in sorted(path_lengths, key=lambda p: p[1][1], reverse=True)],
                  columns=["Node", "Path Length", "No. of Paths"])
df.style.hide_index().set_caption("Most connected Nodes").set_table_styles(styles)

In [8]:
# Get a list of nodes in the longest paths that all contain a given node
flatten = lambda l: [item for sublist in l for item in sublist]

l = list(set(flatten([p for a,(b,c,d) in path_lengths for p in d if "MA-RU" in p])))
l

['U-TI',
 'JA-*21F',
 'SA-PO',
 '*21F-TU-NE',
 'DA-ME',
 'Haghia Triada Magazine',
 'KI-RO',
 'KI-RE-TA₂',
 'TE-KI',
 'SA-RA₂',
 'QA-NU-MA',
 'DE-DI',
 'KA-U-DE-TA',
 'DI-DE-RU',
 'TU-MA',
 'PA',
 'U-SU',
 'QA-RA₂-WA',
 'I-RU-JA',
 'I-TA-JA',
 'Kharnia Magazine',
 'DI-DI-ZA-KE',
 'I-DU-NE-SI',
 'SA-RO',
 'QA-QA-RU',
 'A-DU',
 'SI-KI-NE',
 'MA-DI',
 'DU-DA-MA',
 'JA-MI-DA-RE',
 'RE-TE',
 'KA-SA-RU',
 ']-RA-RI',
 'QE-RA₂-U',
 'MA-*321',
 'DA-RU-*329',
 'A-SI',
 'TA',
 'MA-*79',
 '*188',
 'SA-RU',
 'KI-RE-TA-NA',
 'KU-NI-SU',
 'MA-RU',
 'Tylissos Magazine',
 'KU-PA₃-NU',
 'MA-KA-RI-TE',
 'SI-RU-MA-RI-TA₂',
 'KI-KI-RA-JA',
 'U-MI-NA-SI',
 'QA-*310-I',
 '*312-TA',
 'KA-PA',
 'DU',
 'SU-DU',
 'U-DI-MI',
 'PI-*34-TE',
 'QE-TI',
 'WI-DI-NA',
 'WI',
 'RE-DI-SE',
 'MI-NU-TE',
 'DA-RE',
 'PA-[I-TO',
 'TA-RI-NA',
 'I-KU-RI-NA',
 'RA-TI-SE',
 'WA-DU-NI-MI',
 'SA-MA',
 'DI',
 'U-TA-RO',
 'DA-TA-RA',
 'TA-NA-TI',
 'ME-ZA',
 'KU-RA-MU',
 'DA-DU-MA-TA',
 'PU-RA₂',
 'DI-NA-U',
 'DI-DE',
 'U-*325-ZA',
 'RE-ZA',
 '*306-TU',
 'DA-RI-DA',
 'PA₃-NI',
 'TE-KE',
 'VIR+[?]',
 'Zakros Magazine',
 'PA-TA-NE',
 'TU-JU-MA',
 'KA',
 'KE-KI-RU',
 'KA-*305',
 'MI-RU-TA-RA-RE',
 'KU-*79-NI',
 '*324-DI-RA',
 'TA-I-AROM',
 'DA-KI',
 'KA-PA-QE',
 'QE-PU',
 'NA-DA-RE',
 'SI-DA-RE',
 'PI-TA-JA',
 'A-RU',
 'SI+SE',
 'KI-RI-TA₂',
 'TE-TU',
 'JE-DI',
 'PA₃-NI-NA',
 'DI-RI-NA',
 'DA-U-*49',
 '*306-KI-TA₂',
 'PA-I-TO',
 '*79-SU',
 'TE-JA-RE',
 'I-KA',
 'KA-KU-PA',
 'MA-RI-RE-I',
 'A-RU-DA-RA',
 'QE-PI-TA',
 'QE-KA',
 '*305-RU',
 'DA-QE-RA',
 '*301',
 'MI-TU',
 'DA-JU-TE',
 'O-RA₂-DI-NE',
 'DU-JA',
 'A-SI-JA-KA',
 'A-RA-NA-RE',
 'KU-PA-JA',
 'DA-SI-*118',
 'A-RA-JU-U-DE-ZA',
 'TE',
 'A-KA-RU',
 ']-DI',
 'U-DE-ZA',
 'PA-DE']

# Cyclic Paths in the Graph

In [15]:
# Find the longest cyclic paths up to a maximum of X.
def getPaths(p):
    legs = [p + [t] for f, t in edges 
            if f == p[-1] and (t == p[0] or t not in p) and "Magazine" not in t]
    return legs

def getCycles(n, maxLen=10):
    paths = [[n]]
    cycles = []
    i = 0
    while i < maxLen:
        new_paths = []
        for p in paths:
            new_paths += getPaths(p)
        if not new_paths:
            break
        paths = [p for p in new_paths if p[0] != p[-1]]
        cycles += [p for p in new_paths if p[0] == p[-1]]
        i+=1
    if not len(cycles):
        return (0,0,[])
    return (max([len(c) for c in cycles]), len(cycles), sorted(cycles, key=lambda l: len(l), reverse=True))

# Store results in a dict while we try different path lengths.
path_lengths = {}

In [18]:
%%time

import multiprocessing

# split a list into evenly sized chunks
def chunks(l, n):
    return [l[i:i+n] for i in range(0, len(l), n)]

MAX_PATH_LENGTH = 11
def worker(nodes):
    path_lengths = [(n,c) for n,c in [(n, getCycles(n, MAX_PATH_LENGTH)) for n in nodes] if c[0] > 0]
    return path_lengths

starting_nodes = list(set([f for f,t in edges]))
total = len(starting_nodes)
chunk_size = total / 10
batches = chunks(starting_nodes, int(chunk_size))

pool = multiprocessing.Pool(processes = 3)
path_lengths[MAX_PATH_LENGTH] = flatten(pool.map(worker, batches))

CPU times: user 913 ms, sys: 129 ms, total: 1.04 s
Wall time: 13min 14s

Process ForkPoolWorker-20:
Process ForkPoolWorker-19:
Process ForkPoolWorker-21:
Traceback (most recent call last):
Traceback (most recent call last):
  File "/usr/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/usr/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/usr/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
Traceback (most recent call last):
  File "/usr/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/usr/lib/python3.8/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.8/multiprocessing/queues.py", line 355, in get
    with self._rlock:
  File "/usr/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.8/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/lib/python3.8/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/lib/python3.8/multiprocessing/queues.py", line 355, in get
    with self._rlock:
KeyboardInterrupt
  File "/usr/lib/python3.8/multiprocessing/pool.py", line 114, in worker
    task = get()
  File "/usr/lib/python3.8/multiprocessing/queues.py", line 356, in get
    res = self._reader.recv_bytes()
  File "/usr/lib/python3.8/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
  File "/usr/lib/python3.8/multiprocessing/connection.py", line 216, in recv_bytes
    buf = self._recv_bytes(maxlength)
  File "/usr/lib/python3.8/multiprocessing/connection.py", line 414, in _recv_bytes
    buf = self._recv(4)
  File "/usr/lib/python3.8/multiprocessing/connection.py", line 379, in _recv
    chunk = read(handle, remaining)
KeyboardInterrupt

In [22]:
df = pd.DataFrame([(a,b,c,d[0]) for a,(b,c,d) in sorted(path_lengths[MAX_PATH_LENGTH], key=lambda p: p[1][1], reverse=True)],
                  columns=["Node", "Max Path Length", "No. of Cyclic Paths", "Example"])
df.style.hide_index().set_caption("Most cyclic paths").set_table_styles(styles)

In [48]:
def isSameCycle(c1,c2):
    c1 = c1[:-1]
    c2 = c2[:-1]
    if len(c1) != len(c2):
        return False
    if sorted(c1) != sorted(c2):
        return False
    s = c2.index(c1[0])
    c2a = c2[s:] + c2[:s]
    if c1 == c2a:
        return True
    print(c1,c2a)
    return False

In [49]:
c1 = ['DA-DU-MA-TA', 'DA-ME', 'A-DU', 'DA-RE', 'JE-DI', 'DI', 'KI-KI-RA-JA', 'QA-*310-I', ']-RA-RI', 'KU-PA₃-NU', 'QE-RA₂-U', 'DA-DU-MA-TA']
c2 = ['DA-RE', 'JE-DI', 'DI', 'KI-KI-RA-JA', 'QA-*310-I', ']-RA-RI', 'KU-PA₃-NU', 'QE-RA₂-U', 'DA-DU-MA-TA', 'DA-ME', 'A-DU', 'DA-RE']

isSameCycle(c1,c2)

True

In [18]:
%%time

import networkx as nx
import matplotlib.pyplot as plt

# Create Directed Graph
G=nx.Graph()

# Create a list of all edges
edges = [(senders[k], recipients[k]) for k in recipients]
edges = [(recipients[k], senders[k]) for k in recipients]
edges = sorted(set(edges))
#edges = [(a,b) for (a,b) in edges if "Magazine" not in a and "Magazine" not in b]

nodes = sorted(set([a for (a,b) in edges] + [b for (a,b) in edges]))

# Add a list of nodes:
G.add_nodes_from(nodes)

# Add a list of edges:
G.add_edges_from(edges)

CPU times: user 3.3 ms, sys: 0 ns, total: 3.3 ms
Wall time: 3.21 ms

In [ ]:
#Return a list of cycles described as a list o nodes
cycles = list(nx.simple_cycles(G))
cycles

In [23]:
from networkx.algorithms.community import k_clique_communities
list(k_clique_communities(G, 3))

[frozenset({'*21F-*118', '*28B-NU-MA-RE', 'SI-PI-KI', 'Zakros Magazine'}),
 frozenset({'A-DU',
            'A-KA-RU',
            'DA-SI-*118',
            'Haghia Triada Magazine',
            'I-KA',
            'KA-PA',
            'KI-RI-TA₂',
            'KI-RO',
            'KU-PA₃-NU',
            'MI-NU-TE',
            'QE-RA₂-U',
            'SA-RA₂',
            'SA-RU'}),
 frozenset({'*306-TU',
            'DI-NA-U',
            'Haghia Triada Magazine',
            'SA-RO',
            'TA-I-AROM'}),
 frozenset({'A-RI-NI-TA', 'Haghia Triada Magazine', 'KI-RA'}),
 frozenset({'DI', 'Haghia Triada Magazine', 'JE-DI'}),
 frozenset({'KI-KI-RA-JA', 'ME-ZA', 'PA'})]

In [25]:
import networkx.algorithms.community as nx_comm
nx_comm.louvain_communities(G, seed=123)

[{'*301-NA', 'KU-PA-ZU', 'WI-NA-DU'},
 {'*301-U-RA',
  'A-SE-JA',
  'KA-PO-RU',
  'NA-*21F-NE-MI-NA',
  'PA-RA-NE',
  'SE-KU-TU'},
 {'*312-TE-TE', 'MI-KI-SE-NA', 'TA-TI', 'U-NU-*21F'},
 {'A-*325-ZA',
  'A-RI-PA',
  'Petras Magazine',
  'QA-QA-DA',
  'RU-PI-*305-MI',
  'TO-*49-RE',
  'TO-ME'},
 {'*21F-TU-NE',
  '*301',
  '*305-RU',
  '*306-KI-TA₂',
  '*312-TA',
  'A-RA-JU-U-DE-ZA',
  'DA-RE',
  'DA-RI-DA',
  'DA-RU-*329',
  'DI',
  'DU-JA',
  'I-RU-JA',
  'JE-DI',
  'KA',
  'KA-SA-RU',
  'KI-KI-RA-JA',
  'KI-RE-TA₂',
  'MA-DI',
  'ME-ZA',
  'PA',
  'QA-*310-I',
  'QA-QA-RU',
  'QE-KA',
  'QE-TI',
  'RE-DI-SE',
  'TA-NA-TI',
  'TA-RI-NA',
  'TE-TU',
  'U-TI',
  'WA-DU-NI-MI'},
 {'A-DA-KI-SI-KA', 'A-RA-U-DA', 'WI-SA-SA-NE'},
 {'A-DA-RO',
  'A-DU-NI-TA-NA',
  'Arkhalkhori Magazine',
  'JA-PI',
  'KA-NE',
  'KI-NU',
  'PI-*314'},
 {'A-DA',
  'A-DU',
  'A-KA-RU',
  'A-KU-TU-*361',
  'DA-DU-MA-TA',
  'DA-ME',
  'DA-QE-RA',
  'DA-U-*49',
  'DI-DE',
  'DI-DE-RU',
  'KI-RE-TA-NA',
  'KI-RI-SI',
  'KO-A-DU-WA',
  'KU-NI-SU',
  'MI-NU-TE',
  'PA-I-TO',
  'PA₃-NI',
  'PI-KU-ZU',
  'QA-RA₂-WA',
  'SA-MA',
  'SA-RU',
  'TE-KE',
  'Tylissos Magazine',
  'U-*325-ZA',
  'ZA-*321'},
 {'DU-AROM-A', 'U-*34-SI'},
 {'E-NA-SI', 'Khania Magazine', 'PA-NA-TU', 'U-TA-I-SE'},
 {'*318-*306',
  '*322-RI',
  '*327',
  '*327-JU',
  '*560',
  '*79',
  '*79-*22F-DI',
  '*79-DU',
  '*79-JU-PU₂',
  "*86+'*188'",
  'A-PU₂-NA-DU',
  'A-RE-DA-I',
  'A-RU-RA',
  'A-SA-RA₂',
  'A-SE',
  'A-SU-JA',
  'DA-KU-NA',
  'DA-TA-RE',
  'DA-TU',
  'DI-JA-I',
  'DI-NA-RO',
  'DU-ME-DI',
  'DU-RU-WI',
  'DU-SU-NI',
  'DU-ZU',
  'Haghia Triada Magazine',
  'I-KI-RA',
  'I-QA-*118',
  'JA-*345',
  'JU',
  'KA-DU-MA-NE',
  'KA-JU',
  'KA-NA',
  'KA-NU-TI',
  'KA-RO-NA',
  'KA-RU',
  'KA-TI',
  'KI',
  'KI-DA-TA',
  'KI-KI-NA',
  'KI-TA',
  'KI-TA-I',
  'KO-JA',
  'KU-PA₃',
  'KU-PA₃-NA-TU',
  'KU-PA₃-PA₃',
  'KU-PA₃-RI-JA',
  'KU-RE-JU',
  'KU-RO',
  'MA',
  'MI-DA',
  'NA-TI',
  'NI-RA',
  'NU-DU-*331',
  'PA-SA-RI-JA',
  'PA-SE',
  'PA₃',
  'PA₃-*188',
  'PA₃-KA-RA-TI',
  'PI-TA-KA-SE',
  'PU-VIN',
  'QA-RE-TO',
  'QA-TI-DA-TE',
  'QE-TI-RA-DU',
  'QE-TU-NE',
  'RA-*164-TI',
  'RA-\U000fd1eb-TI',
  'RA₂',
  'RA₂-TI',
  'RE-TA₂',
  'RI-*305',
  'RI-KA-TA',
  'RI-MI-SI',
  'RU-I-KO',
  'RU-MA-TA',
  'RU-NI',
  'SA-*323-MI',
  'SA-MA-RO',
  'SA-MA-TI',
  'SI+SE-NI',
  'SI-DU-*34-KU-MI',
  'SI-KI-RA',
  'SU-PU₂',
  'SU-PU₂-*188',
  'SU-RE',
  'TA₂',
  'TE-*301',
  'TE-RI',
  'TI',
  'TU-*21F-RI-NA',
  'TU-QE-NU',
  'U-RE-WI',
  'U-TA₂',
  'VIR+[?]-I',
  'lacuna'},
 {'DA-KU-SE-NE', 'I-DU', 'PA-DA-SU-TI', 'TA-PA'},
 {'I-JA-PA-ME', 'QA-TI-KI'},
 {'DA-JU-TE',
  'DA-KI',
  'DA-TA-RA',
  'DI-RI-NA',
  'DU-DA-MA',
  'I-KA',
  'I-KU-RI-NA',
  'KA-PA',
  'KA-PA-QE',
  'KI-RI-TA₂',
  'MA-*321',
  'MA-*79',
  'MA-RI-RE-I',
  'O-RA₂-DI-NE',
  'PA₃-NI-NA',
  'PI-TA-JA',
  'QE-PI-TA',
  'RA-TI-SE',
  'SA-RA₂',
  'SI-RU-MA-RI-TA₂',
  'VIR+[?]',
  'WI'},
 {'I-KU-TA', 'TI-TI-KU'},
 {'*323-*317',
  '*323-*344',
  'A-AROM-TE',
  'A-PA-RA-NE',
  'I-TI-TI-KU-NI',
  'PI-TA-RA',
  'QA-*118-RA-RE',
  'RU-SA',
  'SI-MI-TA'},
 {'JA-DI-WI', 'Knossos Magazine'},
 {'*21F-*118',
  '*28B-NU-MA-RE',
  '*363-KE-MA-SE',
  '*47-KU-NA',
  'I-TI-NI-SA',
  'JA-SA-MU',
  'KI-NI-MA',
  'MA-KA-I-TA',
  'MI-ZA-SE',
  'O-TA-NI-ZA-SE',
  'QE-SI-*79-E',
  'SA-MI-DA-E',
  'SI-PI-KI'},
 {'A-RI-NI-TA',
  'A-TA-RE',
  'DA-I-PI-TA',
  'KA-I-RO',
  'KI-RA',
  'KU-TU-KO-RE',
  'MA-KA-I-SE',
  'TA-I-NU-MA-PA'},
 {'*306+MI', '*306-TU-JA', 'A-I', 'KU-RU-MA', 'KU-TA'},
 {'MA-RI', 'MI-TA', 'PA-RA', 'TU-RU-NU-SE-ME', 'WA-TU-MA-RE'},
 {'MA-SI-DU', 'PA-*342-I'},
 {'KU-MA-JU', 'PA-RO-SU', 'QE-KU-RE', 'SA-RE-JU'},
 {'*188',
  '*79-SU',
  'A-RA-NA-RE',
  'DE-DI',
  'DI-DI-ZA-KE',
  'KE-KI-RU',
  'KI-RO',
  'KU-PA₃-NU',
  'KU-RA-MU',
  'MA-KA-RI-TE',
  'MA-RU',
  'MI-RU-TA-RA-RE',
  'MI-TU',
  'NA-DA-RE',
  'QE-RA₂-U',
  'TE-JA-RE',
  'TU-JU-MA',
  'TU-MA',
  'U-DI-MI',
  'U-MI-NA-SI',
  'U-SU'},
 {'*21F-TU', 'DE-ME-TE', 'RA'},
 {'*47-NU-RA-JA', 'RI-TA-MA-NU-WI'},
 {'DE-NU', 'RU-RA₂', 'RU-ZU-NA', 'SA-QE-RI'},
 {'*306-TU',
  '*324-DI-RA',
  'A-RU',
  'A-SI',
  'DA-SI-*118',
  'DI-NA-U',
  'DU',
  'I-DU-NE-SI',
  'JA-MI-DA-RE',
  'KA-*305',
  'KA-KU-PA',
  'KA-U-DE-TA',
  'KU-*79-NI',
  'PA-DE',
  'PA-TA-NE',
  'PA-[I-TO',
  'QE-PU',
  'RE-ZA',
  'SA-PO',
  'SA-RO',
  'SI-DA-RE',
  'TA-I-AROM',
  'TE-KI',
  'U-DE-ZA',
  ']-DI',
  ']-RA-RI'},
 {'DA-MI-NU', 'DA-NE-KU-TI', 'KI-DA-RO', 'KO-SA-I-TI', 'KU-KU-DA-RA', 'SA-TA'},
 {'*79-*301-SE-DE-*21F-*118',
  'A-SI-DA-TO-I',
  'A-SU-PU-WA',
  'KU-RA',
  'RU-MI',
  'SI-DA-TE'},
 {'DU-PA₃-NA', 'NU-WI', 'TI-NU-JA'},
 {'A-SE-SI-NA', 'E-KA', 'KU-PA-RI', 'U-KA-RE'},
 {'A-RU-DA-RA',
  'A-SI-JA-KA',
  'A-SI-SU-PO-A',
  'A-TA-*350',
  'A-TO-*349-TO-I',
  'I-SI',
  'I-TA-JA',
  'JA-*21F',
  'KU-PA-JA',
  'Kharnia Magazine',
  'PI-*34-TE',
  'PU-DE',
  'PU-RA₂',
  'QA-NU-MA',
  'RE-TE',
  'SI+SE',
  'SI-KI-NE',
  'SU-DU',
  'TA',
  'TE',
  'U-TA-RO',
  'WI-DI-NA'},
 {'*305-WA-NA',
  '*312-TA₂',
  '*34-JU-TE-MI',
  'A-DE',
  'A-DU-KU-MI-NA',
  'A-KU-MI-NA',
  'A-MI-DA-U',
  'A-MI-TA',
  'A-NA',
  'A-RA-TU',
  'A-RE-TU-MI',
  'A-TA-NA',
  'A-TA-NA-TE',
  'A-TI-RU',
  'DA-NA-SI',
  'DI-DI-KO-RA-ME-TA₂',
  'DU-RE-ZA-SE',
  'E-*82',
  'E-KU',
  'E-TO-RI',
  'I-KU-JU-TI-*28B',
  'I-MA',
  'I-SE',
  'JA-PA',
  'JA-TO-JA',
  'JA-WI',
  'KA-DI',
  'KA-KU-NE-TE',
  'KI-RE-ZA',
  'KU-PA',
  'KU-PI',
  'MA-JU',
  'MA-KI-DE-TE',
  'MA-ZA',
  'ME-KI-DI',
  'PA-JA-RE',
  'PA-NU-QE',
  'PA-ZA',
  'PI-*310-A',
  'PU-NI-KA-*363',
  'PU₂-RA₂',
  'QA-TI-JU',
  'RA-MA-SI',
  'RA₂-RO-RE',
  'RO-SI-RA',
  'RU-MA-TA-SE',
  'SA-*301-RI',
  'SE',
  'SI-DI-JA',
  'SI-TE-TU',
  'SI-TU',
  'TA-NA-TE',
  'TE-AROM',
  'TU-ME-SE',
  'TU-MI-TI-ZA-SE',
  'U-*49',
  'U-JU',
  'WA-*362',
  'WI-RA-RE-MI-TE',
  'Zakros Magazine'},
 {'KI-DE-MA-*323-NA', 'PU-KO', ']-TI-SA'}]