# Find common syntax/word structures
We're going to look for common syntax structures among Linear A tablets. We classify each word/logogram
(including word separators) and come up with a list of tablets with common patterns.

First we load a lookup table of word types for classifying each word. We also have some helper functions

In [224]:
import csv                                                                                      
import json
import os
import re
from collections import Counter

def isNumber(word):
    if word >= u'\U00010100' and word <= u'\U0001013f':
        return True
    return False

place_names = {}
transaction_words = {}
transaction_signs = {}
numbers = {}
commodities = {}
from_suffix = {}
adjectives = {}
to_prefix = {}
fractions = {}
weights = {}
logograms = {}
words_in_linearb = {}
word_types = [(place_names, "060-place-names.txt", "place name", 0, 1),
        (transaction_words, "060-transaction-words.txt", "transaction term", 0, 1),
        (numbers, "050-numbers.csv", "number", 0, 1),
        (fractions, "065-fractions.txt", "fraction", 0, 0),
        (numbers, "065-fractions.txt", "number", 0, 0),
        (weights, "065-weights.txt", "weight", 0, 0),
        (logograms, "065-logograms.txt", "logogram", 0, 0),
        (commodities, "060-commodities.txt", "commodity", 0, 1),
        (from_suffix, "060-from-suffix.txt", "uses from suffix (-TE/-TI)", 0, 1),
        (adjectives, "060-adjectives.txt", "adjective for placename", 0, 1),
        (to_prefix, "060-to-prefix.txt", "uses to prefix (I-/J-)", 0, 1),
        (words_in_linearb, "135-identical-words-in-linearb.txt", "word also in linear b", 0, 1),
        (transaction_signs, "160-transaction-signs.txt", "transaction sign", 0, 1),
        ]
for word_type in word_types:
    dictionary = word_type[0]
    input_file = open("../" + word_type[1], 'r')
    while True:
        line = input_file.readline()
        if not line:
            break
        line_array = line.strip().split('\t')
        dictionary[line_array[word_type[3]]] = line_array[word_type[4]]

json_file = open('../150-metadata-template.js')
data = json.load(json_file)
inscriptions = data["metadata"]

def isHeadWord(word, original_word, no_of_words):
    if no_of_words == 1:
        return False
    if index:
        return False
    if original_word.startswith(u'\U0001076b'):
        return False
    if original_word == u'\U00010101':
        return False
    if word == "—":
        return False
    if word.isnumeric():
        return False
    return True;

def assignNumberToPreviousWord(word, word_tags, index, prev_word_tag, prev_original_word):
    if word not in numbers:
        return False
    if not index:
        return False
    if word == u'\U00010101':
        return False
    if word.startswith(u'\U0001076b'):
        return False
    cleaned_prev_original_word = prev_original_word.replace(u'\U0001076b', "")
    if cleaned_prev_original_word in numbers:
        return False
    if prev_original_word.endswith(u'\U0001076b'):
        return False
    if prev_original_word == "\n":
        return False
    return True

def shouldIncludeWord(word):
    if word in numbers:
        return False
    if u'\U00010101' in word:
        return False
    if word == "—":
        return False
    if word == "":
        return False
    return True

def wordRepeatedInInscription(word_tags, word):
    if not shouldIncludeWord(word):
        return False

    words = list(map(lambda x: x["word"].replace(u'\U0001076b', ""), word_tags))
    if words.count(word) > 1:
        return True
    return False

word_find_spots = {}
def addFindSpot(name, word):
    if not shouldIncludeWord(word):
        return
    find_spot = name[:2]
    if word not in word_find_spots:
        word_find_spots[word] = [find_spot]
        return
    word_find_spots[word].append(find_spot)

for inscription in inscriptions:
    for tags in inscription["tagsForWords"]:
        word = tags["word"]
        word = word.replace(u'\U0001076b', "")
        addFindSpot(inscription["name"], word)

locations = {}
locations["ZA"] ="Zakros"          
locations["PK"] ="Palaikastro"  
locations["PE"] ="Petras"  
locations["SY"] ="Syme" 
locations["PS"] ="Pseira" 
locations["MA" ] ="Malia" 
locations["AR"] ="Arkhalkhori" 
locations["IO"] ="Iouktas" 
locations["KN"] ="Knossos" 
locations["TY"] ="Tylissos"  
locations["PH"] ="Phaistos"  
locations["HT"] ="Haghia Triada"  
locations["AP"] ="Apodoulou"  
locations["KH"] ="Kharnia"

## Create a list of all word structures

First create a list of word structures keyed by tablet name. Each word has a number of possible classifications so the word structure is a list of lists, for example the word structure for HT1 might look like:
```
'HT1': [['word'],
  ['word separator'],
  ['transaction term', 'transaction sign', 'word'],
  ['number'],
  ['word'],
  ['number'],
  ['word'],
  ['number'],
  ['word'],
  ['number'],
  ['word'],
  ['number']]
```

In [225]:
# Create a dictionary data structure containing word structure lists for all tablets.

word_structures = {}
new_inscriptions = []
for old_inscription in inscriptions:
    inscription = old_inscription.copy()
    word_tags = inscription["tagsForWords"]
    
    inscription["transactions"] = {}
    current_pattern = []
    
    for index, word_tag in enumerate(word_tags):
        word = word_tag["transliteratedWord"]
        original_word = word_tag["word"]
        if "tags" in word_tag:
            del word_tag["tags"]

        tags = []
        if word == "\n":
            continue

        if u'\U00010101' in original_word:
            tags.append("word separator")
        if original_word == "—":
            tags.append("dividing line")

        cleaned_word = word.replace(u'\U0001076b', "")
        cleaned_original_word = original_word.replace(u'\U0001076b', "")
        for word_type in word_types:
            dictionary = word_type[0]
            annotation = word_type[2]
            if cleaned_word in dictionary or cleaned_original_word in dictionary:
                if not annotation in tags:
                    tags.append(annotation)

        if (len(cleaned_word) > 1 and not "word separator" in tags
            and word != '—' and word !=  u'\U0001076b'
            and not 'logogram' in tags
            and not 'commodity' in tags
            and not "number" in tags and not "fraction" in tags):
            tags.append("word")

        if original_word == u'\U0001076b':
            tags.append("lacuna")
        else:
            for i, tag in enumerate(tags):
                if original_word.startswith(u'\U0001076b'):
                    tags[i] = "]" + tags[i]
                if original_word.endswith(u'\U0001076b'):
                    tags[i] = tags[i] + "["

        current_pattern += [sorted(tags)]
  
    inscription["words"] = inscription.pop("tagsForWords")
    word_structures[inscription["name"]] = current_pattern

Now that we have an exhaustive list of word structures, we strip out some of the word-tags so that we don't have too many permutations. We create `stripped_word_structures` for this.

In [226]:
import itertools

# To reduce the number of permutations we strip out word descriptions that are too specific.
def containsRedundantWord(l,
    words_to_drop = ["lacuna at", "transaction", "fraction", "weight", "commodity"]
    ):
    for w in words_to_drop:
        if w in l:
            return True
    return False

stripped_word_structures = {k: [[w for w in wl if not containsRedundantWord(w)]
                                for wl in v] 
                            for k,v in word_structures.items()}

def hasLacuna(l):
    return containsRedundantWord(l, ["lacuna"])

Create a list of word-tag permutations for each tablet. This will give us a list of different word-sequences for the tablet. We will use this to look for common sequences among all the tablets.

In [227]:
#small_sws = dict(list(stripped_word_structures.items())[0: 840])
#[list(x) for x in itertools.product(*stripped_word_structures['HT2'])]

# Create permutations for each tablet. It's a list of lists for each tablet.
ws_perms = {k: [list(x) for x in itertools.product(*v)]
             for k,v in stripped_word_structures.items()}
#dict(list(ws_perms.items())[0:2])

# Check for entries with too many permutations.
for k,v in ws_perms.items():
    if len(v) < 10:
        continue
    print(k, len(v))

Get all common sequences among the tablets and store it in `matched_sequences`.

In [254]:
%%time
from difflib import SequenceMatcher
from collections import defaultdict
from IPython.display import display, clear_output

"""To compare each tablet with every other tablet we take a copy of ws_perms and
use that as the one to check each tablet against. We delete each tablet from
the copy as we use it so that we're not comparing tablets more than once."""
ws_perms_copy = ws_perms.copy()
matched_sequences = defaultdict(list)
for k,v in ws_perms.items():
    # Delete from the copy so we don't perform unnecessary comparisons.
    del ws_perms_copy[k]
    # Check each permutation..
    for l in v:
        clear_output(wait=True)
        display(str(len(ws_perms) - len(ws_perms_copy)) + ' done.')
        s = SequenceMatcher(None)
        s.set_seq1(l)
        # .. against each permutation in the rest of the list.
        for k1,v1 in ws_perms_copy.items():
            for l1 in v1:
                s.set_seq2(l1)
                r = s.get_matching_blocks()
                for m in r:
                    # Ignore any sequences shorter than 3.
                    if m.size < 3:
                        continue
                    structure = ','.join(l[m.a:m.a+m.size])
                    matched_sequences[structure] += [(k,m.a,m.size), (k1,m.b,m.size)]
                    matched_sequences[structure] = list(set(matched_sequences[structure]))

'1712 done.'

CPU times: user 33.7 s, sys: 2.09 s, total: 35.8 s
Wall time: 39.9 s

Now we have enough data to print out matching sequences. We're going to start by looking at sequences at the start of inscriptions.

In [259]:
def getSyntacticalStructures(matched_sequences
                             , from_start_only=False
                             , min_length=3
                             , min_results=3):
    """Get all instances of common syntatical structure, either `from_start_only` or not, with at least"
    `min_results` matches of `min_length`"""
    # Create a list of words in each tablet that we can look up by tablet name.
    la_words = {inscription["name"] : [v["word"] for v in inscription["tagsForWords"]
                                       if v["word"] != '\n'] 
                for inscription in inscriptions}
    en_words = {inscription["name"] : [v["transliteratedWord"] for v in inscription["tagsForWords"]
                                       if v["word"] != '\n'] 
                for inscription in inscriptions}

    structures = {}
    # We're looking for sequences of 3 words or more at the start of the inscription.
    for i in range(50,min_length,-1):
        test_seq = {k:v for k,v in matched_sequences.items() if len(k.split(',')) == i}
        for k,v in test_seq.items():
            en_seqs = {}
            for tablet, start, end in v:
                # We're only looking at structures at the start of the inscription.
                if start and from_start_only:
                    continue
                en_seqs[tablet] = en_words[tablet][start:start+end]

            # Ignore any cases where we don't have `min_results` inscriptions with a matching sequence.
            if len(en_seqs.keys()) < min_results:
                continue

            structures[k] = en_seqs
    return structures

In [260]:
import pandas as pd
styles = [dict(selector="caption", 
    props=[("text-align", "center"),
    ("font-size", "120%"),
    ("color", 'black')])]

syn_seqs = getSyntacticalStructures(matched_sequences, True)
for k, en_seqs in syn_seqs.items():
    df = pd.DataFrame(en_seqs.values(), columns = k.split(','))
    df.set_axis(en_seqs.keys(), axis='index', inplace=True)
    #df.style.set_caption("Davis 2018 Mapping of Linear A and PD Symbols").set_table_styles(styles)
    display(df)

,word,word separator,word,word separator,logogram,number,logogram,number,logogram,number
HT21,PI-TA-KA-SE,𐄁,TE,𐄁,GRA,161,OLE+U,11,OLE+E,3
HT28a,A-SI-JA-KA,𐄁,JA-*21F,𐄁,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂
HT14,PU-VIN,𐄁,TE,𐄁,GRA,30,OLE+MI,3,OLE+DI,3

,word,number,word,number,word,number,word,number
ZA14,ME-KI-DI,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8
HT99b,SI+SE-NI,6,DA-SI-*118,2,ZU-DU,1,RU-MA-TA,1
PH2,A-SE-TU-*21F,1,RA-O-DI-KI,60,PI-RU-E-JU,60,SE-SA-PA₃,60
HT10b,U-TI,1,DA-RE,2,TA-RI-NA,15,*312-TA,6

,word,word separator,word,word separator,logogram,number,word,number
HT19,RA-*164-TI,𐄁,TE,𐄁,VIN,30,SA-RO,5
KH88,QA-NU-MA,𐄁,*21F-*118,𐄁,NI,10,PU-DE,8
HT17,RA-󽇫-TI,𐄁,TE,𐄁,VIN,37,SA-RO,10
ZA8,KI-RA,𐄁,A-TA-RE,𐄁,NI,¹⁄₂,KU-TU-KO-RE,double mina

,word,word separator,word,word separator,logogram,number,logogram,number
HT21,PI-TA-KA-SE,𐄁,TE,𐄁,GRA,161,OLE+U,11
HT28a,A-SI-JA-KA,𐄁,JA-*21F,𐄁,GRA+QE,5,OLE+U,2
HT14,PU-VIN,𐄁,TE,𐄁,GRA,30,OLE+MI,3
HT92,TE,𐄁,A-DU,𐄁,GRA,680,*304,12

,word,word separator,word,number,word,number,word
HT85b,KI-KI-RA-JA,𐄁,KI-RE-TA₂,1,QE-KA,1,PA
HT94b,KI-RO,𐄁,TU-MA,1,PA-TA-NE,1,DE-DI
HT1,QE-RA₂-U,𐄁,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE

,word,word separator,word,word separator,logogram,number,word
HT40,NU-DU-*331,𐄁,TE,𐄁,GRA,207,KI-DA-TA
HT93a,PA₃-NI-NA,𐄁,GRA-PA₃,𐄁,RE+SE,12,DI-RI-NA
HT19,RA-*164-TI,𐄁,TE,𐄁,VIN,30,SA-RO
KH88,QA-NU-MA,𐄁,*21F-*118,𐄁,NI,10,PU-DE
HT17,RA-󽇫-TI,𐄁,TE,𐄁,VIN,37,SA-RO
ZA8,KI-RA,𐄁,A-TA-RE,𐄁,NI,¹⁄₂,KU-TU-KO-RE

,word,word separator,logogram,word,number,word,number
ZA5a,*21F-*118,𐄁,VIN-SU,KI-NI-MA,7,O-TA-NI-ZA-SE,6
HT95a,DA-DU-MA-TA,𐄁,GRA,DA-ME,10,MI-NU-TE,10
HT7a,QE-TI,𐄁,VIR+[?],I-RU-JA,3,DU-JA,4

,word,word separator,word,word separator,word,logogram,number
HT116a,U-TA-RO,𐄁,TE,𐄁,KU-PA-JA,GRA,16
KH5,A-DA-KI-SI-KA,𐄁,A-RA-U-DA,𐄁,WI-SA-SA-NE,CYP+E,2
HT28b,A-SI-JA-KA,𐄁,U-MI-NA-SI,𐄁,SA-RA₂,GRA,20

,word,word separator,word,word separator,word,word separator,word
HT96a,I-TI-TI-KU-NI,𐄁,A-PA-RA-NE,𐄁,A-AROM-TE,𐄁,SI-MI-TA
HT117a,MA-KA-RI-TE,𐄁,KI-RO,𐄁,U-MI-NA-SI,𐄁,U-SU
KNZc7,A-KA-NU-ZA-TI,𐄁,DU-RA-RE,𐄁,A-ZU-RA,𐄁,JA-SA-RA-A-NA-NE
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁,I-JA,𐄁,QA-KI-SE-NU-TI

               word number        word number           word number
PH2    A-SE-TU-*21F      1  RA-O-DI-KI     60     PI-RU-E-JU     60
HT10b          U-TI      1       DA-RE      2       TA-RI-NA     15
ZA14       ME-KI-DI      1   *21F-*118      1  PU-NI-KA-*363      3
HT99b      SI+SE-NI      6  DA-SI-*118      2          ZU-DU      1

               word word separator       word number      word number
HT1        QE-RA₂-U              𐄁      KI-RO    197     ZU-SU     70
HT94b         KI-RO              𐄁      TU-MA      1  PA-TA-NE      1
HT85b   KI-KI-RA-JA              𐄁  KI-RE-TA₂      1     QE-KA      1
HT117b   *21F-TU-NE              𐄁   KU-RE-JU      1  DI-KI-SE      1

              word word separator       word word separator logogram number
HT17       RA-󽇫-TI              𐄁         TE              𐄁      VIN     37
ZA8          KI-RA              𐄁    A-TA-RE              𐄁       NI    ¹⁄₂
HT40    NU-DU-*331              𐄁         TE              𐄁      GRA    207
HT14        PU-VIN              𐄁         TE              𐄁      GRA     30
HT92            TE              𐄁       A-DU              𐄁      GRA    680
HT21   PI-TA-KA-SE              𐄁         TE              𐄁      GRA    161
HT28a   A-SI-JA-KA              𐄁    JA-*21F              𐄁   GRA+QE      5
HT19    RA-*164-TI              𐄁         TE              𐄁      VIN     30
HT93a    PA₃-NI-NA              𐄁    GRA-PA₃              𐄁    RE+SE     12
KH88      QA-NU-MA              𐄁  *21F-*118              𐄁       NI     10

,word,word separator,word,word separator,word,word separator
IOZa6,TA-NA-I-*301-U-TI-NU,𐄁,I-NA-TA-I-ZU-DI-SI-KA,𐄁,JA-SA-SA-RA-ME,𐄁
HT34,DA-JU-TE,𐄁,SI-*516,𐄁,SA-RA₂,𐄁
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,𐄁,NI-JA-NU,𐄁,JU-KU-NA-PA-KU-NU-U-I-ZU,𐄁
HT6a,KA-PA,𐄁,DA-TA-RA,𐄁,TE,𐄁
TLZa1,A-TA-I-*301-WA-JA,𐄁,O-SU-QA-RE,𐄁,JA-SA-SA-RA-ME,𐄁
HT117a,MA-KA-RI-TE,𐄁,KI-RO,𐄁,U-MI-NA-SI,𐄁
HT96a,I-TI-TI-KU-NI,𐄁,A-PA-RA-NE,𐄁,A-AROM-TE,𐄁
IOZa2,A-TA-I-*301-WA-JA,𐄁,JA-DI-KI-TU,𐄁,JA-SA-SA-RA-ME,𐄁
KNZc7,A-KA-NU-ZA-TI,𐄁,DU-RA-RE,𐄁,A-ZU-RA,𐄁
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁,I-JA,𐄁

,word,word separator,word,word separator,logogram,word separator
HT96b,A-PA-RA-NE,𐄁,QA-*118-RA-RE,𐄁,*516,𐄁
HT9a,SA-RO,𐄁,TE,𐄁,VIN,𐄁
HT43,MA-SI-DU,𐄁,PA-*342-I,𐄁,I,𐄁

                   word word separator logogram number logogram number
HT12        QA-TI-DA-TE              𐄁   OLE+DI      5     *304      5
HT123+124a      KI-TA-I              𐄁     OLIV     31     *308      8
HT23a             KA-NA              𐄁      CYP    ¹⁄₃     *308  ≈ ¹⁄₆

,word,word separator,word,number,word
HT1,QE-RA₂-U,𐄁,KI-RO,197,ZU-SU
HT117b,*21F-TU-NE,𐄁,KU-RE-JU,1,DI-KI-SE
HT94b,KI-RO,𐄁,TU-MA,1,PA-TA-NE
HT85b,KI-KI-RA-JA,𐄁,KI-RE-TA₂,1,QE-KA
SYZa2,A-TA-I-*301-WA-JA,𐄁,JA-SU-MA-TU-OLIV,1,U-NA-KA-NA-SI-OLE

              word word separator           word word separator logogram
KH88      QA-NU-MA              𐄁      *21F-*118              𐄁       NI
HT28a   A-SI-JA-KA              𐄁        JA-*21F              𐄁   GRA+QE
HT21   PI-TA-KA-SE              𐄁             TE              𐄁      GRA
HT96b   A-PA-RA-NE              𐄁  QA-*118-RA-RE              𐄁     *516
HT17       RA-󽇫-TI              𐄁             TE              𐄁      VIN
ZA8          KI-RA              𐄁        A-TA-RE              𐄁       NI
HT14        PU-VIN              𐄁             TE              𐄁      GRA
HT43      MA-SI-DU              𐄁      PA-*342-I              𐄁        I
HT92            TE              𐄁           A-DU              𐄁      GRA
HT19    RA-*164-TI              𐄁             TE              𐄁      VIN
HT40    NU-DU-*331              𐄁             TE              𐄁      GRA
HT9a         SA-RO              𐄁             TE              𐄁      VIN
HT93a    PA₃-NI-NA              𐄁        GRA-PA₃              𐄁    RE+SE

               word number        word number        word
HT99b      SI+SE-NI      6  DA-SI-*118      2       ZU-DU
PH2    A-SE-TU-*21F      1  RA-O-DI-KI     60  PI-RU-E-JU
HT10b          U-TI      1       DA-RE      2    TA-RI-NA

,word,word separator,word,word separator,word
HT116a,U-TA-RO,𐄁,TE,𐄁,KU-PA-JA
KNZc7,A-KA-NU-ZA-TI,𐄁,DU-RA-RE,𐄁,A-ZU-RA
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁,I-JA
KH5,A-DA-KI-SI-KA,𐄁,A-RA-U-DA,𐄁,WI-SA-SA-NE
IOZa6,TA-NA-I-*301-U-TI-NU,𐄁,I-NA-TA-I-ZU-DI-SI-KA,𐄁,JA-SA-SA-RA-ME
HT34,DA-JU-TE,𐄁,SI-*516,𐄁,SA-RA₂
TLZa1,A-TA-I-*301-WA-JA,𐄁,O-SU-QA-RE,𐄁,JA-SA-SA-RA-ME
SYZa4,A-TA-I-*301-WA-JA,𐄁,JA-I-NWA-ZA,𐄁,PA₃-NI-WI
HT96a,I-TI-TI-KU-NI,𐄁,A-PA-RA-NE,𐄁,A-AROM-TE
HT6a,KA-PA,𐄁,DA-TA-RA,𐄁,TE
HTWc3017,QA-KU-RE,𐄁,DI-*306,𐄁,CYP+D-*304+PA
HT28b,A-SI-JA-KA,𐄁,U-MI-NA-SI,𐄁,SA-RA₂
HT87,*21F-TU-NE,𐄁,MA-KA-RI-TE,𐄁,PI-TA-KE-SI
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,𐄁,NI-JA-NU,𐄁,JU-KU-NA-PA-KU-NU-U-I-ZU
HT117a,MA-KA-RI-TE,𐄁,KI-RO,𐄁,U-MI-NA-SI
IOZa2,A-TA-I-*301-WA-JA,𐄁,JA-DI-KI-TU,𐄁,JA-SA-SA-RA-ME

                   word logogram number          word number
HT110a  SI-DU-*34-KU-MI    CYP+E     20         KU-PA      1
HT8a              JE-DI   OLE+KI     10  PA₃-KA-RA-TI      1
HT108       KI-RE-TA-NA  VIR+[?]      1         GRA+H     70
HT88               A-DU   VIR+KA     20         RE-ZA      6

                   word word separator logogram number logogram
HT123+124a      KI-TA-I              𐄁     OLIV     31     *308
HT23a             KA-NA              𐄁      CYP    ¹⁄₃     *308
HT12        QA-TI-DA-TE              𐄁   OLE+DI      5     *304
HT103             U-TA₂              𐄁       NI     40      PA₃

                          word logogram number logogram number
HTZd157+156  WI-JA-SU-MA-TI-TI     *904      1     *904      1
HT101               ZU-*22F-DI   GRA+QE     40    OLE+U      8
HT18                     PA-SE   GRA+QE     20   OLE+KI      2

                word word separator   logogram word separator  logogram
HT89        A-SA-RA₂              𐄁       *307              𐄁      *305
HT91            I-KA              𐄁       *326              𐄁       GRA
HT115a  *47-NU-RA-JA              𐄁          I              𐄁  GRA+BOSm
HT85a           A-DU              𐄁  *307+*387              𐄁   VIR+[?]
HT27a       TI-NI-TA              𐄁       *307              𐄁   VIR+[?]

       lacuna ]logogram number[ ]logogram number
HT131b      𐝫        NI      30      OLIV      2
KH26        𐝫   VIR+[?]      60        NI      2
KH84        𐝫       CYP     ¹⁄₂      *301      1

                  word number        word number
HT7b        *21F-TU-NE      1  DA-RU-*329      2
ZA7a              U-JU      5     A-RA-TU      4
ZA14          ME-KI-DI      1   *21F-*118      1
PH2       A-SE-TU-*21F      1  RA-O-DI-KI     60
HT10b             U-TI      1       DA-RE      2
ZA5b     *28B-NU-MA-RE     20    SI-PI-KI      1
THEZb13      QI-VIN+TE    120  KA-A-SI-TE    120
HT99b         SI+SE-NI      6  DA-SI-*118      2

                     word word separator              word number
HT85b         KI-KI-RA-JA              𐄁         KI-RE-TA₂      1
SYZa2   A-TA-I-*301-WA-JA              𐄁  JA-SU-MA-TU-OLIV      1
HT10a            KU-NI-SU              𐄁             SA-MA      4
HT16             KA-KU-PA              𐄁           DI-NA-U    ¹⁄₈
HT95b                A-DU              𐄁             SA-RU     10
HT1              QE-RA₂-U              𐄁             KI-RO    197
HT117b         *21F-TU-NE              𐄁          KU-RE-JU      1
HT94b               KI-RO              𐄁             TU-MA      1

                   word word separator logogram number
HT103             U-TA₂              𐄁       NI     40
HT12        QA-TI-DA-TE              𐄁   OLE+DI      5
HT123+124a      KI-TA-I              𐄁     OLIV     31
HT23a             KA-NA              𐄁      CYP    ¹⁄₃
ZA15b             KA-DI              𐄁      VIN      3
KNZb<27>        DI-NA-U              𐄁      VIN     17

,word,word separator,word,word separator
HT87,*21F-TU-NE,𐄁,MA-KA-RI-TE,𐄁
HT40,NU-DU-*331,𐄁,TE,𐄁
HT92,TE,𐄁,A-DU,𐄁
HT17,RA-󽇫-TI,𐄁,TE,𐄁
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,𐄁,NI-JA-NU,𐄁
HT9a,SA-RO,𐄁,TE,𐄁
HT96b,A-PA-RA-NE,𐄁,QA-*118-RA-RE,𐄁
HT52a,SA-MA,𐄁,TE,𐄁
HT116a,U-TA-RO,𐄁,TE,𐄁
HT96a,I-TI-TI-KU-NI,𐄁,A-PA-RA-NE,𐄁
HT117a,MA-KA-RI-TE,𐄁,KI-RO,𐄁
IOZa2,A-TA-I-*301-WA-JA,𐄁,JA-DI-KI-TU,𐄁
KNZc7,A-KA-NU-ZA-TI,𐄁,DU-RA-RE,𐄁
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁
KH5,A-DA-KI-SI-KA,𐄁,A-RA-U-DA,𐄁
IOZa6,TA-NA-I-*301-U-TI-NU,𐄁,I-NA-TA-I-ZU-DI-SI-KA,𐄁
HT34,DA-JU-TE,𐄁,SI-*516,𐄁
ARKHZf9,JA-KI-SI-KI-NU,𐄁,MI-DA-MA-RA₂,𐄁
TLZa1,A-TA-I-*301-WA-JA,𐄁,O-SU-QA-RE,𐄁
HT21,PI-TA-KA-SE,𐄁,TE,𐄁
SYZa4,A-TA-I-*301-WA-JA,𐄁,JA-I-NWA-ZA,𐄁
HT28a,A-SI-JA-KA,𐄁,JA-*21F,𐄁
HT93a,PA₃-NI-NA,𐄁,GRA-PA₃,𐄁
KH88,QA-NU-MA,𐄁,*21F-*118,𐄁
HT6a,KA-PA,𐄁,DA-TA-RA,𐄁
HT140,U-*34-SI,𐄁,*86-SI-NI,𐄁
HT19,RA-*164-TI,𐄁,TE,𐄁
ZA8,KI-RA,𐄁,A-TA-RE,𐄁
HTWc3017,QA-KU-RE,𐄁,DI-*306,𐄁
HT43,MA-SI-DU,𐄁,PA-*342-I,𐄁
HT28b,A-SI-JA-KA,𐄁,U-MI-NA-SI,𐄁
HT14,PU-VIN,𐄁,TE,𐄁

              word word separator logogram         word
HT95a  DA-DU-MA-TA              𐄁      GRA        DA-ME
HT7a         QE-TI              𐄁  VIR+[?]      I-RU-JA
MA1b          A-MA              𐄁      *47  QE-DE-MI-NU
ZA5a     *21F-*118              𐄁   VIN-SU     KI-NI-MA

                   word logogram number          word
HT108       KI-RE-TA-NA  VIR+[?]      1         GRA+H
HT88               A-DU   VIR+KA     20         RE-ZA
HT110a  SI-DU-*34-KU-MI    CYP+E     20         KU-PA
HT8a              JE-DI   OLE+KI     10  PA₃-KA-RA-TI

           logogram word separator        word word separator
HT26a    *406VAS+KE              𐄁  *312-TE-TE              𐄁
ZA1a           *516              𐄁    KI-RE-ZA              𐄁
LACHZa1          MI              𐄁     RI-DA-U              𐄁

                      word word separator   logogram word separator
HT27a             TI-NI-TA              𐄁       *307              𐄁
HT35              TI-TI-KU              𐄁       *326              𐄁
HT85a                 A-DU              𐄁  *307+*387              𐄁
HT115a        *47-NU-RA-JA              𐄁          I              𐄁
HT89              A-SA-RA₂              𐄁       *307              𐄁
ZA11a   DI-DI-KO-RA-ME-TA₂              𐄁       *516              𐄁
HT91                  I-KA              𐄁       *326              𐄁
HT81                  A-SE              𐄁   MI+JA+RU              𐄁
HT122b               JE-DI              𐄁       *346              𐄁
HT104                TA-PA              𐄁     TE+RO[              𐄁

                          word logogram number logogram
HT18                     PA-SE   GRA+QE     20   OLE+KI
HTZd157+156  WI-JA-SU-MA-TI-TI     *904      1     *904
HT101               ZU-*22F-DI   GRA+QE     40    OLE+U

                  word  logogram number number
ZA6b   I-KU-JU-TI-*28B    GRA+PA     50    ¹⁄₄
MA4b              A-JA  HIDE+[?]    123    160
HT129        KI-RE-TA₂       GRA     33     𐝆𐝁

                     ]word word separator         word word separator
KNZf31    SI-SI-ZA-NE-*310              𐄁  DA-DU-MI-NE              𐄁
PKZa8                   NU              𐄁        PA₃-E              𐄁
ZAZb34           PU₂-RE-JA              𐄁        KO-MU              𐄁
SYZa1    A-TA-I-*301-WA-JA              𐄁      I-DA-MI              𐄁
HT62+73              SA-RA              𐄁           TE              𐄁
PKZa18                  TE              𐄁         I-DA              𐄁

       lacuna lacuna  ]word number
ZA27        𐝫      𐝫  DI-KI      2
HT41a       𐝫      𐝫  QE-TU     10
HT111a      𐝫      𐝫  QE-KA      8

       lacuna     ]word number[              ]word
HT46a       𐝫     MU-RU       1              KU-RO
HT135a      𐝫  NE-MI-NA      10              MI-TU
HT127a      𐝫  DU-NE-MI       1  *304+PA-DA-*47-KU

      lacuna lacuna ]number[ lacuna
ZA30       𐝫      𐝫        7      𐝫
KH67       𐝫      𐝫        1      𐝫
HT53b      𐝫      𐝫       18      𐝫

      lacuna lacuna  ]word number[
HT67       𐝫      𐝫  KU-RO     402
HT74       𐝫      𐝫  KU-RO      20
KN28b      𐝫      𐝫     TE      𐝊𐝫

        lacuna ]logogram number[ lacuna
HT109        𐝫        RE       4      𐝫
ZA28         𐝫    GRA+PA       1      𐝫
KH68+71      𐝫  *401+[ ]      𐝉𐝫      𐝫
ZA31         𐝫        DU       2      𐝫

       lacuna ]logogram number[ ]logogram
KH63        𐝫        SU      10   *401+RU
KH84        𐝫       CYP     ¹⁄₂      *301
HT131b      𐝫        NI      30      OLIV
KH26        𐝫   VIR+[?]      60        NI

     ]logogram[ number logogram number
MA6a   HIDE+[?]    941   HIDE+B     35
KH12        CYP      2     *308    ¹⁄₂
KH15        CYP    ¹⁄₂       NI    ¹⁄₂

        lacuna lacuna ]word[ lacuna
HT154ja      𐝫      𐝫  NU-TE      𐝫
KH52         𐝫      𐝫   TA-U      𐝫
KH44         𐝫      𐝫   *335      𐝫

       ]logogram word separator           word word separator
KH14          RA              𐄁        A-MA-JA              𐄁
PLZf1         TA              𐄁    WI-TE-JA-MU              𐄁
KNZb4         JU              𐄁          JA-SI              𐄁
PKZa10        SI              𐄁  I-PI-NA-MI-NA              𐄁

         ]logogram number[ ]logogram number[
THEtab.4       CAP       7       CAP      46
KH25       VIR+[?]     140   VIR+[?]      10
PH3b        ]MI+JA     ³⁄₄        SI     ¹⁄₄

In [261]:
syn_seqs = getSyntacticalStructures(matched_sequences,False,8)
for k, en_seqs in syn_seqs.items():
    df = pd.DataFrame(en_seqs.values(), columns = k.split(','))
    df.set_axis(en_seqs.keys(), axis='index', inplace=True)
    #df.style.set_caption("Davis 2018 Mapping of Linear A and PD Symbols").set_table_styles(styles)
    display(df)

,word,word separator,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT117a,U-MI-NA-SI,𐄁,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1
HT88,KI-RO,𐄁,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT9b,KA-*305,𐄁,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4

,word,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA₃-NU,1,PA-TA-NE,1
HT9b,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1,TE-JA-RE,1

,word separator,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT117a,𐄁,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1
HT88,𐄁,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT85a,𐄁,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT9b,𐄁,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4

,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT117a,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA₃-NU,1

,logogram,number,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number
KH11,VIN,≈ ¹⁄₆,*306,4,CYP,¹⁄₃,*348-CYP,𐝇𐝉,A-TO-*349-TO-I,CYP+E,3,NI,1,VIN,3
HT28a,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂,OLE+DI,1,NI,2,VIN,3
HT101,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA₂,GRA,41,OLE,10,DI+QE,3
HT14,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU₂-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word
HT23a,OLE+TU,≈ ¹⁄₆,OLE+RI,≈ ¹⁄₆,MI+JA+RU,≈ ¹⁄₆,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA
KH11,CYP,¹⁄₁₆,SU,3,CYP+E,𐝇𐝉,VIN,≈ ¹⁄₆,*306,4,CYP,¹⁄₃,*348-CYP,𐝇𐝉,A-TO-*349-TO-I
HT91,OLE+KI,≈ ¹⁄₆,OLE+U,≈ ¹⁄₆,OLE+MI,≈ ¹⁄₆,OLIV,≈ ¹⁄₆,NI,≈ ¹⁄₆,VIN,≈ ¹⁄₆,E,5,TE-RI

,word,word separator,word,number,word,number,word,number,word,number,word,number,word,number
HT9b,KA-*305,𐄁,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2
HT88,KI-RO,𐄁,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1
HT117a,U-MI-NA-SI,𐄁,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1
HT94b,KI-RO,𐄁,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5

,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT88,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT85a,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1
HT9b,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA₃-NU,1

,number,word,number,word,number,word,number,word,number,word,number,word,number
HT117a,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT88,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT85a,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1

,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number
HT101,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA₂,GRA,41,OLE,10,DI+QE,3
HT28a,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂,OLE+DI,1,NI,2,VIN,3
HT90,GRA,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA₂,GRA,1,NI,1,OLE+MI,1

,number,word,number,word,number,word,number,word,number,word also in linear b,number,word,number
HT122a,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA₃-NU,1
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT85a,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1

,word,word separator,word,number,word,number,word,number,word,number,word,number
HT117a,SA-TA,𐄁,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1
HT1,QE-RA₂-U,𐄁,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA₃-NU,109,A-RA-NA-RE,105
HT94b,KI-RO,𐄁,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
HT9b,KA-*305,𐄁,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2
HT87,MA-KA-RI-TE,𐄁,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT88,KI-RO,𐄁,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1

,number,word,number,number,word,number,word,number,word,number,word,number
PE2,¹⁄₃,RU-PI-*305-MI,1,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃
HT13,56,TE-KI,27,¹⁄₂,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130
HT8a,¹⁄₂,PA,3,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄,SI-KI-RA,¹⁄₄,KI-RE-TA-NA,¹⁄₂

,word,number,word,number,word,number,word,number,word,number,word,number
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1,U-DI-MI,1
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT9b,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1
HT95a,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10,QE-RA₂-U,7
HT94b,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5
HT85a,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
HT88,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1

,word,word separator,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number
HT28a,JA-*21F,𐄁,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉
HT23a,KA-NA,𐄁,CYP,¹⁄₃,*308,≈ ¹⁄₆,OLE+NE,≈ ¹⁄₆,OLE+TU,≈ ¹⁄₆,OLE+RI,≈ ¹⁄₆
HT14,TE,𐄁,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13

,word,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number
HT18,PA-SE,GRA+QE,20,OLE+KI,2,*304,3,SA-RA₂,GRA,10,NI,10
HT90,SA-RA₂,GRA,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA₂,GRA,1,NI,1
KH11,A-TO-*349-TO-I,CYP+E,3,NI,1,VIN,3,A-TA-*350,*301,1,*306,1

,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word
HT91,≈ ¹⁄₆,OLE+MI,≈ ¹⁄₆,OLIV,≈ ¹⁄₆,NI,≈ ¹⁄₆,VIN,≈ ¹⁄₆,E,5,TE-RI
HT34,𐝅𐝇,QA2+[?]+PU,≈ ¹⁄₆,QA2+[?]+RE,¹⁄₄,MI+JA+I,245,SA+MU+KU,100,PA₃,70,KI-RO
KH11,3,CYP+E,𐝇𐝉,VIN,≈ ¹⁄₆,*306,4,CYP,¹⁄₃,*348-CYP,𐝇𐝉,A-TO-*349-TO-I

,]word,number,word,number,word,number,word,number,word,number,word,number
HT122b,A-RA-JU-U-DE-ZA,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO,97
HT122a,DI,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1
ZA4a,TU-ME-SE,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI,3

,word separator,word,number,word,number,word,number,word,number,word,number
HT87,𐄁,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT117a,𐄁,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1
HT9b,𐄁,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2
HT94b,𐄁,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
HT1,𐄁,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA₃-NU,109,A-RA-NA-RE,105
HT88,𐄁,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1
HT85a,𐄁,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5

,word,number,number,word,number,word,number,word,number,word,number
HT8a,PA,3,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄,SI-KI-RA,¹⁄₄,KI-RE-TA-NA,¹⁄₂
PE2,RU-PI-*305-MI,1,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃
HT6b,WA-DU-NI-MI,3,≈ ¹⁄₆,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3

,number,word,number,word,number,number,word,number,word,number,number
HT10b,2,TA-RI-NA,15,*312-TA,6,¹⁄₂,KA-SA-RU,6,TA-NA-TI,9,¹⁄₄
HT8b,5,PA₃-*188,2,QA-*310-I,1,³⁄₈,KA-PA,¹⁄₂,PA-JA-RE,1,¹⁄₈
HT6b,3,DU-DA-MA,66,DA-KI,3,¹⁄₄,SA-MA,35,PA₃-NI-NA,17,¹⁄₂

,word,number,word,number,word,number,number,word,number,word,number
HT6b,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3,¹⁄₄,SA-MA,35,PA₃-NI-NA,17
HT10b,DA-RE,2,TA-RI-NA,15,*312-TA,6,¹⁄₂,KA-SA-RU,6,TA-NA-TI,9
ZA15a,MI-ZA-SE,3,*28B-NU-MA-RE,6,SI-PI-KI,2,¹⁄₂,JA-SA-MU,5,SA-MI-DA-E,4

,number,word,number,word,number,word,number,word,number,word,number
PE2,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃,TO-*49-RE,1
ZA4a,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI,3
HT88,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1
HT85a,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3
HT95a,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10,QE-RA₂-U,7
ZA20,4,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3,KU-RA,130
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1
HT98a,1,TA-NA-TI,³⁄₄,DI-RE-DI-NA,¹⁄₂,TE-*301,³⁄₄,RO-KE,¹⁄₂,KA-RI-*310-I,¹⁄₄
HT94b,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5
HT117a,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1
HT122b,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO,97
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1

,word,number,word,number,word,number,word,number,word,number,word
HT85a,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE
ZA14,ME-KI-DI,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1,TU-MI-TI-ZA-SE
HT117a,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE
HT9b,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE
HT95a,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10,QE-RA₂-U
HT94b,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I
HT88,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE

,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number
HT14,OLE+DI,3,*304,9,OLIV,13,A-PU₂-NA-DU,GRA,45,OLE+MI,5
HT28a,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂,OLE+DI,1,NI,2
HT101,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA₂,GRA,41,OLE,10
HT18,GRA+QE,20,OLE+KI,2,*304,3,SA-RA₂,GRA,10,NI,10

,logogram,number,logogram,number,logogram,number,logogram,number,word,logogram,number
HT14,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU₂-NA-DU,GRA,45
HT101,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA₂,GRA,41
HT116a,GRA,16,OLE+KI,1,OLE+MI,6,OLIV,3,PI-*34-TE,GRA,5
KH11,VIN,≈ ¹⁄₆,*306,4,CYP,¹⁄₃,*348-CYP,𐝇𐝉,A-TO-*349-TO-I,CYP+E,3
HT28b,GRA,20,OLE+DI,5,NI,2,VIN,4,PU-RA₂,NI,6
HT28a,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂,OLE+DI,1

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word
HT28a,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂
HT14,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU₂-NA-DU
HT34,QA2+[?]+PU,≈ ¹⁄₆,QA2+[?]+RE,¹⁄₄,MI+JA+I,245,SA+MU+KU,100,PA₃,70,KI-RO

,word separator,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number
HT14,𐄁,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13
HT28a,𐄁,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉
HT91,𐄁,OLE+KI,≈ ¹⁄₆,OLE+U,≈ ¹⁄₆,OLE+MI,≈ ¹⁄₆,OLIV,≈ ¹⁄₆,NI,≈ ¹⁄₆

,logogram,number,logogram,number,logogram,number,logogram,number,word,number,word
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16,KU-RO,97,SA-RA₂
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO,110,SA-RA₂
HT23a,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¹⁄₁₆,SA-SA-ME

,word,number,word,number,word,number,word,number,word,number,word[
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¹⁄₂,PA-RA-NE,1,A-SE-JA,𐝂𐝂𐝂𐝂,KA-PO-RU,1,RI-SU-MA
HT85a,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4,KU-RO
HT87,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1,A-RA

,number,word,number,word,number,word,number,word also in linear b,number,word,number
PE2,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃,TO-*49-RE,1
HT85b,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
ZA10a,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT85a,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT122a,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA₃-NU,1

,word,number,word,number,word,number,word,number,word,number
ZA4a,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI,3
HT88,KU-PA₃-PA₃,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1
HT98a,TA-NA-TI,³⁄₄,DI-RE-DI-NA,¹⁄₂,TE-*301,³⁄₄,RO-KE,¹⁄₂,KA-RI-*310-I,¹⁄₄
HT87,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT7a,I-RU-JA,3,DU-JA,4,TA-NA-TI,1,DA-RE,1,TE-TU,1
HT95a,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¹⁄₂,PA-RA-NE,1,A-SE-JA,𐝂𐝂𐝂𐝂,KA-PO-RU,1
HT9b,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2
HT11a,KA-RO-NA,2,*322-RI,1,KU-RO,10,A-SU-JA,1,VIR+[?]-I,3
ZA14,ME-KI-DI,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA₃-NU,1,TU-JU-MA,1
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1
HT94b,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1
HT85a,DA-RI-DA,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5
HT95b,DA-ME,10,MI-NU-TE,10,KU-NI-SU,10,DI-DE-RU,10,QE-RA₂-U,10
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1
ZA20,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3,KU-RA,130
HT122b,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO,97
PE2,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃,TO-*49-RE,1
HT1,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA₃-NU,109,A-RA-NA-RE,105

,word,word separator,word,number,word,number,word,number,word,number
HT1,QE-RA₂-U,𐄁,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA₃-NU,109
HT117a,SA-TA,𐄁,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1
HT87,MA-KA-RI-TE,𐄁,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1

,logogram,number,word,number,logogram,number,word,number,word,number
HT118,KI,4,A-RI-SU,4,KI,1,RI-RU-MA,10,KU-RO,30
HT6a,NI,15,PI-TA-JA,24,JA+RU,𐝓,MA-*321,10,O-RA₂-DI-NE,2
HT89,JU+*317+QE,22,MA-I-MI,24,VIR+*313a,13,TA-RA,5,KU-RO,87

,number,number,word,number,word,number,word,number,word,number
HT8a,3,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄,SI-KI-RA,¹⁄₄,KI-RE-TA-NA,¹⁄₂
PE2,1,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃
HT9a,5,³⁄₄,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2

,number,word,number,number,word,number,word,number,word,number
HT13,56,TE-KI,27,¹⁄₂,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5
HT8a,¹⁄₂,PA,3,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄,SI-KI-RA,¹⁄₄
PE2,¹⁄₃,RU-PI-*305-MI,1,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂
ZA15a,6,SI-PI-KI,2,¹⁄₂,JA-SA-MU,5,SA-MI-DA-E,4,*363-KE-MA-SE,5

,logogram,number,logogram,number,logogram,number,logogram,number,word,number
HT34,QA2+[?]+RE,¹⁄₄,MI+JA+I,245,SA+MU+KU,100,PA₃,70,KI-RO,37
HT12,*118,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¹⁄₁₆,DA-I,50
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16,KU-RO,97
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO,110
HT127b,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14,KU-RO,291
HT23a,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¹⁄₁₆

,word,word separator,word,word separator,logogram,number,logogram,number,logogram,number
HT21,PI-TA-KA-SE,𐄁,TE,𐄁,GRA,161,OLE+U,11,OLE+E,3
HT28a,A-SI-JA-KA,𐄁,JA-*21F,𐄁,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂
HT14,PU-VIN,𐄁,TE,𐄁,GRA,30,OLE+MI,3,OLE+DI,3

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number
HT33,E+KA,𐝃𐝉,MI+JA+KA,¹⁄₅,*305,90,*341+PI,100,PA3+QE,100
THEZg5,MA,40,PU,5,*171,7,ZO,9,TA,4
HT34,QA2+[?]+PU,≈ ¹⁄₆,QA2+[?]+RE,¹⁄₄,MI+JA+I,245,SA+MU+KU,100,PA₃,70
HT28a,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉
HT91,OLE+KI,≈ ¹⁄₆,OLE+U,≈ ¹⁄₆,OLE+MI,≈ ¹⁄₆,OLIV,≈ ¹⁄₆,NI,≈ ¹⁄₆
HT14,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13
KH11,CYP,¹⁄₁₆,SU,3,CYP+E,𐝇𐝉,VIN,≈ ¹⁄₆,*306,4
HT23a,CYP,¹⁄₃,*308,≈ ¹⁄₆,OLE+NE,≈ ¹⁄₆,OLE+TU,≈ ¹⁄₆,OLE+RI,≈ ¹⁄₆

,number,logogram,number,logogram,number,word,logogram,number,logogram,number
HT18,20,OLE+KI,2,*304,3,SA-RA₂,GRA,10,NI,10
HT90,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA₂,GRA,1,NI,1
HT116a,5,OLE+MI,1,*OLIV+TU,2,SI-KI-NE,GRA,12,*304,12

,number,logogram,number,number,logogram,number,number,logogram,number,number
HTZd157+156,1,*904,1,¹⁄₂,*904,2,¹⁄₄,*904,3,³⁄₈
HT100,¹⁄₄,NI,2,double mina,VIN,2,¹⁄₂,OLE+U,2,≈ ¹⁄₆
HT21,11,OLE+E,3,³⁄₄,*304,7,³⁄₄,OLIV,1,¹⁄₄

,word,logogram,number,logogram,number,logogram,number,logogram,number,word
HT28b,SA-RA₂,GRA,20,OLE+DI,5,NI,2,VIN,4,PU-RA₂
HT101,ZU-*22F-DI,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA₂
HT94a,62,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO
HT127b,72,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14,KU-RO

,word,number,word,number,word,number,word,number,word also in linear b,number
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1
HT117a,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1

,number,word,number,word,number,word,number,word,number,word
HT122b,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO
ZA14,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1,TU-MI-TI-ZA-SE
PE2,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃,TO-*49-RE
ZA4a,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA
HT98a,1,TA-NA-TI,³⁄₄,DI-RE-DI-NA,¹⁄₂,TE-*301,³⁄₄,RO-KE,¹⁄₂,KA-RI-*310-I

,number,word,number,word,number,word,number,word,number
HT1,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA₃-NU,109,A-RA-NA-RE,105
HT117a,1,MI-RU-TA-RA-RE,1,TE-JA-RE,1,NA-DA-RE,1,KU-RO,10
HT6b,≈ ¹⁄₆,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3
HT98a,1,TA-NA-TI,³⁄₄,DI-RE-DI-NA,¹⁄₂,TE-*301,³⁄₄,RO-KE,¹⁄₂
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1
HT87,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT115a,1,SE-KU-TU,¹⁄₂,PA-RA-NE,1,A-SE-JA,𐝂𐝂𐝂𐝂,KA-PO-RU,1
HT11a,2,*322-RI,1,KU-RO,10,A-SU-JA,1,VIR+[?]-I,3
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1
ZA14,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1
HT85a,12,PA₃-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5
HT94b,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
ZA20,4,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3
HT9a,³⁄₄,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2
HT119,7,JA-*345,10,*306-TU,2,*327-JU,8,KU-RO,160
HT122b,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65
HT95b,10,MI-NU-TE,10,KU-NI-SU,10,DI-DE-RU,10,QE-RA₂-U,10
HT13,¹⁄₂,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130
ZA4a,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50
PE2,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃
HT8a,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄,SI-KI-RA,¹⁄₄,KI-RE-TA-NA,¹⁄₂
HT88,1,KA-JU,1,KU-PA₃-NU,1,PA-JA-RE,1,SA-MA-RO,1
HT95a,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10
HT7a,3,DU-JA,4,TA-NA-TI,1,DA-RE,1,TE-TU,1

,number,word,number,word,number,word,number,number,word
HT10b,1,DA-RE,2,TA-RI-NA,15,*312-TA,6,¹⁄₂,KA-SA-RU
HT6a,𐝓,MA-*321,10,O-RA₂-DI-NE,2,KA-PA-QE,5,³⁄₄,DA-QE-RA
HT9a,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2,¹⁄₂,TA-I-AROM
HT6b,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3,¹⁄₄,SA-MA

,number,logogram,number,word,number,word,number,word,number
HT103,¹⁄₂,*188,13,DA-KU-NA,1,DA-KU-SE-NE,1,KI-RA,5
HT119,34,VIR+[?],67,RI-MI-SI,13,KO-JA,10,KU-PA₃-NA-TU,7
HT85b,1,KA,1,DI,1,ME-ZA,1,RE-DI-SE,1
HT6a,24,JA+RU,𐝓,MA-*321,10,O-RA₂-DI-NE,2,KA-PA-QE,5

,number,number,word,number,number,word,number,word,number
HT8a,1,¹⁄₂,PA,3,¹⁄₂,TE-*301,2,QA-*310-I,³⁄₄
PE2,3,¹⁄₃,RU-PI-*305-MI,1,¹⁄₈,A-*325-ZA,¹⁄₄,A-RI-PA,¹⁄₄
HT104,45,¹⁄₂,I-DU-TI,20,¹⁄₂,PA-DA-SU-TI,29,KU-RO,95

,word separator,logogram,number,logogram,number,logogram,number,logogram,number
HT12,𐄁,*118,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¹⁄₁₆
HT28a,𐄁,GRA+QE,5,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1
HT14,𐄁,GRA,30,OLE+MI,3,OLE+DI,3,*304,9

,logogram,number,logogram,number,logogram,number,logogram,number,word
HT116a,GRA,16,OLE+KI,1,OLE+MI,6,OLIV,3,PI-*34-TE
KH11,VIN,≈ ¹⁄₆,*306,4,CYP,¹⁄₃,*348-CYP,𐝇𐝉,A-TO-*349-TO-I
HT127b,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14,KU-RO
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16,KU-RO
HT28b,GRA,20,OLE+DI,5,NI,2,VIN,4,PU-RA₂
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO
HT23a,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA
HT28a,OLE+U,2,OLE+KI,¹⁄₂,OLE+MI,1,OLE+TU,𐝉,SA-RA₂
HT101,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA₂
HT34,QA2+[?]+RE,¹⁄₄,MI+JA+I,245,SA+MU+KU,100,PA₃,70,KI-RO
HT12,*118,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¹⁄₁₆,DA-I
HT91,OLIV,≈ ¹⁄₆,NI,≈ ¹⁄₆,VIN,≈ ¹⁄₆,E,5,TE-RI
HT14,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU₂-NA-DU

,word,logogram,number,logogram,number,logogram,number,logogram,number
HT28b,SA-RA₂,GRA,20,OLE+DI,5,NI,2,VIN,4
HT94a,62,*86,20,TI+A,7,VIR+*313b,18,TA,4
HT127b,72,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14
HT35,I-KU-TA,CYP,1,MI+JA+RU,¹⁄₃,OLE+RI,¹⁄₃,*308,¹⁄₃
HT90,SI-RU-MA-RI-TA₂,GRA,1,NI,1,OLE+MI,1,*304,1
HT14,A-PU₂-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4,*304,6
HT101,ZU-*22F-DI,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2

,word,word separator,word,word separator,logogram,number,word,number,word
ZA8,KI-RA,𐄁,A-TA-RE,𐄁,NI,¹⁄₂,KU-TU-KO-RE,double mina,A-RI-NI-TA
HT115b,TI-NU-JA,𐄁,NU-WI,𐄁,GRA,¹⁄₂,DU-PA₃-NA,1,KU-RU-MA
HT17,RA-󽇫-TI,𐄁,TE,𐄁,VIN,37,SA-RO,10,SI-DA-RE

,number,logogram,number,word,number,word,number,logogram,number
HT23a,10,E,17,*21F-RI-TU-QA,¹⁄₁₆,SA-SA-ME,¹⁄₁₆,SI+ME,10
HT89,24,VIR+*313a,13,TA-RA,5,KU-RO,87,CYP,2
HT49a,1,*312,1,KU-PA₃-NU,1,TU-SU-PU₂,1,KI,1

,word,word separator,word,word separator,word,logogram,number,logogram,number
HT28b,A-SI-JA-KA,𐄁,U-MI-NA-SI,𐄁,SA-RA₂,GRA,20,OLE+DI,5
KH5,A-DA-KI-SI-KA,𐄁,A-RA-U-DA,𐄁,WI-SA-SA-NE,CYP+E,2,VINb+WI,2
KH7a,I-JA-PA-ME,𐄁,TA-TA,𐄁,QA-TI-KI,VIR+*313b,4,CYP+D,¹⁄₃

,number,word,number,logogram,number,word,number,word,number
HT119,10,KU-PA₃-NA-TU,7,TI,7,JA-*345,10,*306-TU,2
HT118,4,A-RI-SU,4,KI,1,RI-RU-MA,10,KU-RO,30
HT89,22,MA-I-MI,24,VIR+*313a,13,TA-RA,5,KU-RO,87

,word,word separator,word,word separator,word,word separator,word,word separator,word
KNZf31,DA-DU-MI-NE,𐄁,QA-MI-*47-NA-RA,𐄁,A-WA-PI,𐄁,TE-SU-DE-SE-KE-I,𐄁,A-DA-RA
PLZf1,WI-TE-JA-MU,𐄁,U-QE-TI,𐄁,JA-SA-SA-RA-ME,𐄁,TA-NU-NI-KI-NA,𐄁,NI-NU-NI
CR(?)Zf1,A-MA-WA-SI,𐄁,KA-NI-JA-MI,𐄁,I-JA,𐄁,QA-KI-SE-NU-TI,𐄁,A-TA-DE
KOZa1,TU-RU-SA,𐄁,DU-*314-RE,𐄁,I-DA-A,𐄁,U-NA-KA-NA-SI,𐄁,I-PI-NA-MA

,word,number,word,number,word,number,word,number,lacuna
PH2,A-SE-TU-*21F,1,RA-O-DI-KI,60,PI-RU-E-JU,60,SE-SA-PA₃,60,𐝫
ZA20,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3,KU-RA,130,𐝫
PE2,A-RI-PA,¹⁄₄,QA-QA-DA,¹⁄₂,TO-ME,¹⁄₃,TO-*49-RE,1,𐝫

In [280]:
mat_seq_cnt = {k: len(v) for k,v in matched_sequences.items()
               if len(k.split(',')) > 8 and len(v) > 5}

df = pd.DataFrame(mat_seq_cnt.values(), columns = ["Count"])
df.set_axis(mat_seq_cnt.keys(), axis='index', inplace=True)
#df.style.set_caption("Davis 2018 Mapping of Linear A and PD Symbols").set_table_styles(styles)
display(df.sort_values(by=['Count'], ascending=False))

                                                    Count
number,word,number,word,number,word,number,word...     29
word,number,word,number,word,number,word,number...     23
number,word,number,word,number,word,number,word...     14
logogram,number,logogram,number,logogram,number...     13
word,number,word,number,word,number,word,number...     12
word,number,word,number,word,number,word,number...     11
logogram,number,logogram,number,logogram,number...     10
word separator,word,number,word,number,word,num...      8
word,word separator,word,number,word,number,wor...      7
number,word,number,word,number,word,number,word...      7
word,logogram,number,logogram,number,logogram,n...      7
logogram,number,logogram,number,logogram,number...      6
logogram,number,logogram,number,logogram,number...      6
number,word,number,word,number,word,number,word...      6

In [229]:
word_structures["HT24a"]

[['word'],
 ['logogram['],
 [']number'],
 ['logogram'],
 ['number'],
 [']number'],
 ['fraction', 'number'],
 ['logogram'],
 ['number'],
 ['adjective for placename', 'word'],
 ['logogram['],
 ['word'],
 ['logogram[']]

In [248]:
{20} & {20, 10}

{20}

In [18]:
# Write out a template file for the selected inscription
name = "HT86a"
output_file = open(name + ".js", "w")
output_file.write(json.dumps([x for x in inscriptions if x["name"] == name], sort_keys=True, indent=4, ensure_ascii=False))
output_file.close()