# Find common syntax/word structures
We're going to look for common syntax structures among Linear A tablets. We classify each word/logogram
(including word separators) and come up with a list of tablets with common patterns.

First we load a lookup table of word types for classifying each word. We also have some helper functions

In [224]:
import csv                                                                                      
import json
import os
import re
from collections import Counter

def isNumber(word):
    if word >= u'\U00010100' and word <= u'\U0001013f':
        return True
    return False

place_names = {}
transaction_words = {}
transaction_signs = {}
numbers = {}
commodities = {}
from_suffix = {}
adjectives = {}
to_prefix = {}
fractions = {}
weights = {}
logograms = {}
words_in_linearb = {}
word_types = [(place_names, "060-place-names.txt", "place name", 0, 1),
        (transaction_words, "060-transaction-words.txt", "transaction term", 0, 1),
        (numbers, "050-numbers.csv", "number", 0, 1),
        (fractions, "065-fractions.txt", "fraction", 0, 0),
        (numbers, "065-fractions.txt", "number", 0, 0),
        (weights, "065-weights.txt", "weight", 0, 0),
        (logograms, "065-logograms.txt", "logogram", 0, 0),
        (commodities, "060-commodities.txt", "commodity", 0, 1),
        (from_suffix, "060-from-suffix.txt", "uses from suffix (-TE/-TI)", 0, 1),
        (adjectives, "060-adjectives.txt", "adjective for placename", 0, 1),
        (to_prefix, "060-to-prefix.txt", "uses to prefix (I-/J-)", 0, 1),
        (words_in_linearb, "135-identical-words-in-linearb.txt", "word also in linear b", 0, 1),
        (transaction_signs, "160-transaction-signs.txt", "transaction sign", 0, 1),
        ]
for word_type in word_types:
    dictionary = word_type[0]
    input_file = open("../" + word_type[1], 'r')
    while True:
        line = input_file.readline()
        if not line:
            break
        line_array = line.strip().split('\t')
        dictionary[line_array[word_type[3]]] = line_array[word_type[4]]

json_file = open('../150-metadata-template.js')
data = json.load(json_file)
inscriptions = data["metadata"]

def isHeadWord(word, original_word, no_of_words):
    if no_of_words == 1:
        return False
    if index:
        return False
    if original_word.startswith(u'\U0001076b'):
        return False
    if original_word == u'\U00010101':
        return False
    if word == "‚Äî":
        return False
    if word.isnumeric():
        return False
    return True;

def assignNumberToPreviousWord(word, word_tags, index, prev_word_tag, prev_original_word):
    if word not in numbers:
        return False
    if not index:
        return False
    if word == u'\U00010101':
        return False
    if word.startswith(u'\U0001076b'):
        return False
    cleaned_prev_original_word = prev_original_word.replace(u'\U0001076b', "")
    if cleaned_prev_original_word in numbers:
        return False
    if prev_original_word.endswith(u'\U0001076b'):
        return False
    if prev_original_word == "\n":
        return False
    return True

def shouldIncludeWord(word):
    if word in numbers:
        return False
    if u'\U00010101' in word:
        return False
    if word == "‚Äî":
        return False
    if word == "":
        return False
    return True

def wordRepeatedInInscription(word_tags, word):
    if not shouldIncludeWord(word):
        return False

    words = list(map(lambda x: x["word"].replace(u'\U0001076b', ""), word_tags))
    if words.count(word) > 1:
        return True
    return False

word_find_spots = {}
def addFindSpot(name, word):
    if not shouldIncludeWord(word):
        return
    find_spot = name[:2]
    if word not in word_find_spots:
        word_find_spots[word] = [find_spot]
        return
    word_find_spots[word].append(find_spot)

for inscription in inscriptions:
    for tags in inscription["tagsForWords"]:
        word = tags["word"]
        word = word.replace(u'\U0001076b', "")
        addFindSpot(inscription["name"], word)

locations = {}
locations["ZA"] ="Zakros"          
locations["PK"] ="Palaikastro"  
locations["PE"] ="Petras"  
locations["SY"] ="Syme" 
locations["PS"] ="Pseira" 
locations["MA" ] ="Malia" 
locations["AR"] ="Arkhalkhori" 
locations["IO"] ="Iouktas" 
locations["KN"] ="Knossos" 
locations["TY"] ="Tylissos"  
locations["PH"] ="Phaistos"  
locations["HT"] ="Haghia Triada"  
locations["AP"] ="Apodoulou"  
locations["KH"] ="Kharnia"

## Create a list of all word structures

First create a list of word structures keyed by tablet name. Each word has a number of possible classifications so the word structure is a list of lists, for example the word structure for HT1 might look like:
```
'HT1': [['word'],
  ['word separator'],
  ['transaction term', 'transaction sign', 'word'],
  ['number'],
  ['word'],
  ['number'],
  ['word'],
  ['number'],
  ['word'],
  ['number'],
  ['word'],
  ['number']]
```

In [225]:
# Create a dictionary data structure containing word structure lists for all tablets.

word_structures = {}
new_inscriptions = []
for old_inscription in inscriptions:
    inscription = old_inscription.copy()
    word_tags = inscription["tagsForWords"]
    
    inscription["transactions"] = {}
    current_pattern = []
    
    for index, word_tag in enumerate(word_tags):
        word = word_tag["transliteratedWord"]
        original_word = word_tag["word"]
        if "tags" in word_tag:
            del word_tag["tags"]

        tags = []
        if word == "\n":
            continue

        if u'\U00010101' in original_word:
            tags.append("word separator")
        if original_word == "‚Äî":
            tags.append("dividing line")

        cleaned_word = word.replace(u'\U0001076b', "")
        cleaned_original_word = original_word.replace(u'\U0001076b', "")
        for word_type in word_types:
            dictionary = word_type[0]
            annotation = word_type[2]
            if cleaned_word in dictionary or cleaned_original_word in dictionary:
                if not annotation in tags:
                    tags.append(annotation)

        if (len(cleaned_word) > 1 and not "word separator" in tags
            and word != '‚Äî' and word !=  u'\U0001076b'
            and not 'logogram' in tags
            and not 'commodity' in tags
            and not "number" in tags and not "fraction" in tags):
            tags.append("word")

        if original_word == u'\U0001076b':
            tags.append("lacuna")
        else:
            for i, tag in enumerate(tags):
                if original_word.startswith(u'\U0001076b'):
                    tags[i] = "]" + tags[i]
                if original_word.endswith(u'\U0001076b'):
                    tags[i] = tags[i] + "["

        current_pattern += [sorted(tags)]
  
    inscription["words"] = inscription.pop("tagsForWords")
    word_structures[inscription["name"]] = current_pattern

Now that we have an exhaustive list of word structures, we strip out some of the word-tags so that we don't have too many permutations. We create `stripped_word_structures` for this.

In [226]:
import itertools

# To reduce the number of permutations we strip out word descriptions that are too specific.
def containsRedundantWord(l,
    words_to_drop = ["lacuna at", "transaction", "fraction", "weight", "commodity"]
    ):
    for w in words_to_drop:
        if w in l:
            return True
    return False

stripped_word_structures = {k: [[w for w in wl if not containsRedundantWord(w)]
                                for wl in v] 
                            for k,v in word_structures.items()}

def hasLacuna(l):
    return containsRedundantWord(l, ["lacuna"])

Create a list of word-tag permutations for each tablet. This will give us a list of different word-sequences for the tablet. We will use this to look for common sequences among all the tablets.

In [227]:
#small_sws = dict(list(stripped_word_structures.items())[0: 840])
#[list(x) for x in itertools.product(*stripped_word_structures['HT2'])]

# Create permutations for each tablet. It's a list of lists for each tablet.
ws_perms = {k: [list(x) for x in itertools.product(*v)]
             for k,v in stripped_word_structures.items()}
#dict(list(ws_perms.items())[0:2])

# Check for entries with too many permutations.
for k,v in ws_perms.items():
    if len(v) < 10:
        continue
    print(k, len(v))

Get all common sequences among the tablets and store it in `matched_sequences`.

In [254]:
%%time
from difflib import SequenceMatcher
from collections import defaultdict
from IPython.display import display, clear_output

"""To compare each tablet with every other tablet we take a copy of ws_perms and
use that as the one to check each tablet against. We delete each tablet from
the copy as we use it so that we're not comparing tablets more than once."""
ws_perms_copy = ws_perms.copy()
matched_sequences = defaultdict(list)
for k,v in ws_perms.items():
    # Delete from the copy so we don't perform unnecessary comparisons.
    del ws_perms_copy[k]
    # Check each permutation..
    for l in v:
        clear_output(wait=True)
        display(str(len(ws_perms) - len(ws_perms_copy)) + ' done.')
        s = SequenceMatcher(None)
        s.set_seq1(l)
        # .. against each permutation in the rest of the list.
        for k1,v1 in ws_perms_copy.items():
            for l1 in v1:
                s.set_seq2(l1)
                r = s.get_matching_blocks()
                for m in r:
                    # Ignore any sequences shorter than 3.
                    if m.size < 3:
                        continue
                    structure = ','.join(l[m.a:m.a+m.size])
                    matched_sequences[structure] += [(k,m.a,m.size), (k1,m.b,m.size)]
                    matched_sequences[structure] = list(set(matched_sequences[structure]))

'1712 done.'

CPU times: user 33.7 s, sys: 2.09 s, total: 35.8 s
Wall time: 39.9 s

Now we have enough data to print out matching sequences. We're going to start by looking at sequences at the start of inscriptions.

In [259]:
def getSyntacticalStructures(matched_sequences
                             , from_start_only=False
                             , min_length=3
                             , min_results=3):
    """Get all instances of common syntatical structure, either `from_start_only` or not, with at least"
    `min_results` matches of `min_length`"""
    # Create a list of words in each tablet that we can look up by tablet name.
    la_words = {inscription["name"] : [v["word"] for v in inscription["tagsForWords"]
                                       if v["word"] != '\n'] 
                for inscription in inscriptions}
    en_words = {inscription["name"] : [v["transliteratedWord"] for v in inscription["tagsForWords"]
                                       if v["word"] != '\n'] 
                for inscription in inscriptions}

    structures = {}
    # We're looking for sequences of 3 words or more at the start of the inscription.
    for i in range(50,min_length,-1):
        test_seq = {k:v for k,v in matched_sequences.items() if len(k.split(',')) == i}
        for k,v in test_seq.items():
            en_seqs = {}
            for tablet, start, end in v:
                # We're only looking at structures at the start of the inscription.
                if start and from_start_only:
                    continue
                en_seqs[tablet] = en_words[tablet][start:start+end]

            # Ignore any cases where we don't have `min_results` inscriptions with a matching sequence.
            if len(en_seqs.keys()) < min_results:
                continue

            structures[k] = en_seqs
    return structures

In [260]:
import pandas as pd
styles = [dict(selector="caption", 
    props=[("text-align", "center"),
    ("font-size", "120%"),
    ("color", 'black')])]

syn_seqs = getSyntacticalStructures(matched_sequences, True)
for k, en_seqs in syn_seqs.items():
    df = pd.DataFrame(en_seqs.values(), columns = k.split(','))
    df.set_axis(en_seqs.keys(), axis='index', inplace=True)
    #df.style.set_caption("Davis 2018 Mapping of Linear A and PD Symbols").set_table_styles(styles)
    display(df)

,word,word separator,word,word separator,logogram,number,logogram,number,logogram,number
HT21,PI-TA-KA-SE,êÑÅ,TE,êÑÅ,GRA,161,OLE+U,11,OLE+E,3
HT28a,A-SI-JA-KA,êÑÅ,JA-*21F,êÑÅ,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ
HT14,PU-VIN,êÑÅ,TE,êÑÅ,GRA,30,OLE+MI,3,OLE+DI,3

,word,number,word,number,word,number,word,number
ZA14,ME-KI-DI,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8
HT99b,SI+SE-NI,6,DA-SI-*118,2,ZU-DU,1,RU-MA-TA,1
PH2,A-SE-TU-*21F,1,RA-O-DI-KI,60,PI-RU-E-JU,60,SE-SA-PA‚ÇÉ,60
HT10b,U-TI,1,DA-RE,2,TA-RI-NA,15,*312-TA,6

,word,word separator,word,word separator,logogram,number,word,number
HT19,RA-*164-TI,êÑÅ,TE,êÑÅ,VIN,30,SA-RO,5
KH88,QA-NU-MA,êÑÅ,*21F-*118,êÑÅ,NI,10,PU-DE,8
HT17,RA-ÛΩá´-TI,êÑÅ,TE,êÑÅ,VIN,37,SA-RO,10
ZA8,KI-RA,êÑÅ,A-TA-RE,êÑÅ,NI,¬π‚ÅÑ‚ÇÇ,KU-TU-KO-RE,double mina

,word,word separator,word,word separator,logogram,number,logogram,number
HT21,PI-TA-KA-SE,êÑÅ,TE,êÑÅ,GRA,161,OLE+U,11
HT28a,A-SI-JA-KA,êÑÅ,JA-*21F,êÑÅ,GRA+QE,5,OLE+U,2
HT14,PU-VIN,êÑÅ,TE,êÑÅ,GRA,30,OLE+MI,3
HT92,TE,êÑÅ,A-DU,êÑÅ,GRA,680,*304,12

,word,word separator,word,number,word,number,word
HT85b,KI-KI-RA-JA,êÑÅ,KI-RE-TA‚ÇÇ,1,QE-KA,1,PA
HT94b,KI-RO,êÑÅ,TU-MA,1,PA-TA-NE,1,DE-DI
HT1,QE-RA‚ÇÇ-U,êÑÅ,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE

,word,word separator,word,word separator,logogram,number,word
HT40,NU-DU-*331,êÑÅ,TE,êÑÅ,GRA,207,KI-DA-TA
HT93a,PA‚ÇÉ-NI-NA,êÑÅ,GRA-PA‚ÇÉ,êÑÅ,RE+SE,12,DI-RI-NA
HT19,RA-*164-TI,êÑÅ,TE,êÑÅ,VIN,30,SA-RO
KH88,QA-NU-MA,êÑÅ,*21F-*118,êÑÅ,NI,10,PU-DE
HT17,RA-ÛΩá´-TI,êÑÅ,TE,êÑÅ,VIN,37,SA-RO
ZA8,KI-RA,êÑÅ,A-TA-RE,êÑÅ,NI,¬π‚ÅÑ‚ÇÇ,KU-TU-KO-RE

,word,word separator,logogram,word,number,word,number
ZA5a,*21F-*118,êÑÅ,VIN-SU,KI-NI-MA,7,O-TA-NI-ZA-SE,6
HT95a,DA-DU-MA-TA,êÑÅ,GRA,DA-ME,10,MI-NU-TE,10
HT7a,QE-TI,êÑÅ,VIR+[?],I-RU-JA,3,DU-JA,4

,word,word separator,word,word separator,word,logogram,number
HT116a,U-TA-RO,êÑÅ,TE,êÑÅ,KU-PA-JA,GRA,16
KH5,A-DA-KI-SI-KA,êÑÅ,A-RA-U-DA,êÑÅ,WI-SA-SA-NE,CYP+E,2
HT28b,A-SI-JA-KA,êÑÅ,U-MI-NA-SI,êÑÅ,SA-RA‚ÇÇ,GRA,20

,word,word separator,word,word separator,word,word separator,word
HT96a,I-TI-TI-KU-NI,êÑÅ,A-PA-RA-NE,êÑÅ,A-AROM-TE,êÑÅ,SI-MI-TA
HT117a,MA-KA-RI-TE,êÑÅ,KI-RO,êÑÅ,U-MI-NA-SI,êÑÅ,U-SU
KNZc7,A-KA-NU-ZA-TI,êÑÅ,DU-RA-RE,êÑÅ,A-ZU-RA,êÑÅ,JA-SA-RA-A-NA-NE
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA,êÑÅ,QA-KI-SE-NU-TI

               word number        word number           word number
PH2    A-SE-TU-*21F      1  RA-O-DI-KI     60     PI-RU-E-JU     60
HT10b          U-TI      1       DA-RE      2       TA-RI-NA     15
ZA14       ME-KI-DI      1   *21F-*118      1  PU-NI-KA-*363      3
HT99b      SI+SE-NI      6  DA-SI-*118      2          ZU-DU      1

               word word separator       word number      word number
HT1        QE-RA‚ÇÇ-U              êÑÅ      KI-RO    197     ZU-SU     70
HT94b         KI-RO              êÑÅ      TU-MA      1  PA-TA-NE      1
HT85b   KI-KI-RA-JA              êÑÅ  KI-RE-TA‚ÇÇ      1     QE-KA      1
HT117b   *21F-TU-NE              êÑÅ   KU-RE-JU      1  DI-KI-SE      1

              word word separator       word word separator logogram number
HT17       RA-ÛΩá´-TI              êÑÅ         TE              êÑÅ      VIN     37
ZA8          KI-RA              êÑÅ    A-TA-RE              êÑÅ       NI    ¬π‚ÅÑ‚ÇÇ
HT40    NU-DU-*331              êÑÅ         TE              êÑÅ      GRA    207
HT14        PU-VIN              êÑÅ         TE              êÑÅ      GRA     30
HT92            TE              êÑÅ       A-DU              êÑÅ      GRA    680
HT21   PI-TA-KA-SE              êÑÅ         TE              êÑÅ      GRA    161
HT28a   A-SI-JA-KA              êÑÅ    JA-*21F              êÑÅ   GRA+QE      5
HT19    RA-*164-TI              êÑÅ         TE              êÑÅ      VIN     30
HT93a    PA‚ÇÉ-NI-NA              êÑÅ    GRA-PA‚ÇÉ              êÑÅ    RE+SE     12
KH88      QA-NU-MA              êÑÅ  *21F-*118              êÑÅ       NI     10

,word,word separator,word,word separator,word,word separator
IOZa6,TA-NA-I-*301-U-TI-NU,êÑÅ,I-NA-TA-I-ZU-DI-SI-KA,êÑÅ,JA-SA-SA-RA-ME,êÑÅ
HT34,DA-JU-TE,êÑÅ,SI-*516,êÑÅ,SA-RA‚ÇÇ,êÑÅ
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,êÑÅ,NI-JA-NU,êÑÅ,JU-KU-NA-PA-KU-NU-U-I-ZU,êÑÅ
HT6a,KA-PA,êÑÅ,DA-TA-RA,êÑÅ,TE,êÑÅ
TLZa1,A-TA-I-*301-WA-JA,êÑÅ,O-SU-QA-RE,êÑÅ,JA-SA-SA-RA-ME,êÑÅ
HT117a,MA-KA-RI-TE,êÑÅ,KI-RO,êÑÅ,U-MI-NA-SI,êÑÅ
HT96a,I-TI-TI-KU-NI,êÑÅ,A-PA-RA-NE,êÑÅ,A-AROM-TE,êÑÅ
IOZa2,A-TA-I-*301-WA-JA,êÑÅ,JA-DI-KI-TU,êÑÅ,JA-SA-SA-RA-ME,êÑÅ
KNZc7,A-KA-NU-ZA-TI,êÑÅ,DU-RA-RE,êÑÅ,A-ZU-RA,êÑÅ
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA,êÑÅ

,word,word separator,word,word separator,logogram,word separator
HT96b,A-PA-RA-NE,êÑÅ,QA-*118-RA-RE,êÑÅ,*516,êÑÅ
HT9a,SA-RO,êÑÅ,TE,êÑÅ,VIN,êÑÅ
HT43,MA-SI-DU,êÑÅ,PA-*342-I,êÑÅ,I,êÑÅ

                   word word separator logogram number logogram number
HT12        QA-TI-DA-TE              êÑÅ   OLE+DI      5     *304      5
HT123+124a      KI-TA-I              êÑÅ     OLIV     31     *308      8
HT23a             KA-NA              êÑÅ      CYP    ¬π‚ÅÑ‚ÇÉ     *308  ‚âà ¬π‚ÅÑ‚ÇÜ

,word,word separator,word,number,word
HT1,QE-RA‚ÇÇ-U,êÑÅ,KI-RO,197,ZU-SU
HT117b,*21F-TU-NE,êÑÅ,KU-RE-JU,1,DI-KI-SE
HT94b,KI-RO,êÑÅ,TU-MA,1,PA-TA-NE
HT85b,KI-KI-RA-JA,êÑÅ,KI-RE-TA‚ÇÇ,1,QE-KA
SYZa2,A-TA-I-*301-WA-JA,êÑÅ,JA-SU-MA-TU-OLIV,1,U-NA-KA-NA-SI-OLE

              word word separator           word word separator logogram
KH88      QA-NU-MA              êÑÅ      *21F-*118              êÑÅ       NI
HT28a   A-SI-JA-KA              êÑÅ        JA-*21F              êÑÅ   GRA+QE
HT21   PI-TA-KA-SE              êÑÅ             TE              êÑÅ      GRA
HT96b   A-PA-RA-NE              êÑÅ  QA-*118-RA-RE              êÑÅ     *516
HT17       RA-ÛΩá´-TI              êÑÅ             TE              êÑÅ      VIN
ZA8          KI-RA              êÑÅ        A-TA-RE              êÑÅ       NI
HT14        PU-VIN              êÑÅ             TE              êÑÅ      GRA
HT43      MA-SI-DU              êÑÅ      PA-*342-I              êÑÅ        I
HT92            TE              êÑÅ           A-DU              êÑÅ      GRA
HT19    RA-*164-TI              êÑÅ             TE              êÑÅ      VIN
HT40    NU-DU-*331              êÑÅ             TE              êÑÅ      GRA
HT9a         SA-RO              êÑÅ             TE              êÑÅ      VIN
HT93a    PA‚ÇÉ-NI-NA              êÑÅ        GRA-PA‚ÇÉ              êÑÅ    RE+SE

               word number        word number        word
HT99b      SI+SE-NI      6  DA-SI-*118      2       ZU-DU
PH2    A-SE-TU-*21F      1  RA-O-DI-KI     60  PI-RU-E-JU
HT10b          U-TI      1       DA-RE      2    TA-RI-NA

,word,word separator,word,word separator,word
HT116a,U-TA-RO,êÑÅ,TE,êÑÅ,KU-PA-JA
KNZc7,A-KA-NU-ZA-TI,êÑÅ,DU-RA-RE,êÑÅ,A-ZU-RA
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA
KH5,A-DA-KI-SI-KA,êÑÅ,A-RA-U-DA,êÑÅ,WI-SA-SA-NE
IOZa6,TA-NA-I-*301-U-TI-NU,êÑÅ,I-NA-TA-I-ZU-DI-SI-KA,êÑÅ,JA-SA-SA-RA-ME
HT34,DA-JU-TE,êÑÅ,SI-*516,êÑÅ,SA-RA‚ÇÇ
TLZa1,A-TA-I-*301-WA-JA,êÑÅ,O-SU-QA-RE,êÑÅ,JA-SA-SA-RA-ME
SYZa4,A-TA-I-*301-WA-JA,êÑÅ,JA-I-NWA-ZA,êÑÅ,PA‚ÇÉ-NI-WI
HT96a,I-TI-TI-KU-NI,êÑÅ,A-PA-RA-NE,êÑÅ,A-AROM-TE
HT6a,KA-PA,êÑÅ,DA-TA-RA,êÑÅ,TE
HTWc3017,QA-KU-RE,êÑÅ,DI-*306,êÑÅ,CYP+D-*304+PA
HT28b,A-SI-JA-KA,êÑÅ,U-MI-NA-SI,êÑÅ,SA-RA‚ÇÇ
HT87,*21F-TU-NE,êÑÅ,MA-KA-RI-TE,êÑÅ,PI-TA-KE-SI
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,êÑÅ,NI-JA-NU,êÑÅ,JU-KU-NA-PA-KU-NU-U-I-ZU
HT117a,MA-KA-RI-TE,êÑÅ,KI-RO,êÑÅ,U-MI-NA-SI
IOZa2,A-TA-I-*301-WA-JA,êÑÅ,JA-DI-KI-TU,êÑÅ,JA-SA-SA-RA-ME

                   word logogram number          word number
HT110a  SI-DU-*34-KU-MI    CYP+E     20         KU-PA      1
HT8a              JE-DI   OLE+KI     10  PA‚ÇÉ-KA-RA-TI      1
HT108       KI-RE-TA-NA  VIR+[?]      1         GRA+H     70
HT88               A-DU   VIR+KA     20         RE-ZA      6

                   word word separator logogram number logogram
HT123+124a      KI-TA-I              êÑÅ     OLIV     31     *308
HT23a             KA-NA              êÑÅ      CYP    ¬π‚ÅÑ‚ÇÉ     *308
HT12        QA-TI-DA-TE              êÑÅ   OLE+DI      5     *304
HT103             U-TA‚ÇÇ              êÑÅ       NI     40      PA‚ÇÉ

                          word logogram number logogram number
HTZd157+156  WI-JA-SU-MA-TI-TI     *904      1     *904      1
HT101               ZU-*22F-DI   GRA+QE     40    OLE+U      8
HT18                     PA-SE   GRA+QE     20   OLE+KI      2

                word word separator   logogram word separator  logogram
HT89        A-SA-RA‚ÇÇ              êÑÅ       *307              êÑÅ      *305
HT91            I-KA              êÑÅ       *326              êÑÅ       GRA
HT115a  *47-NU-RA-JA              êÑÅ          I              êÑÅ  GRA+BOSm
HT85a           A-DU              êÑÅ  *307+*387              êÑÅ   VIR+[?]
HT27a       TI-NI-TA              êÑÅ       *307              êÑÅ   VIR+[?]

       lacuna ]logogram number[ ]logogram number
HT131b      êù´        NI      30      OLIV      2
KH26        êù´   VIR+[?]      60        NI      2
KH84        êù´       CYP     ¬π‚ÅÑ‚ÇÇ      *301      1

                  word number        word number
HT7b        *21F-TU-NE      1  DA-RU-*329      2
ZA7a              U-JU      5     A-RA-TU      4
ZA14          ME-KI-DI      1   *21F-*118      1
PH2       A-SE-TU-*21F      1  RA-O-DI-KI     60
HT10b             U-TI      1       DA-RE      2
ZA5b     *28B-NU-MA-RE     20    SI-PI-KI      1
THEZb13      QI-VIN+TE    120  KA-A-SI-TE    120
HT99b         SI+SE-NI      6  DA-SI-*118      2

                     word word separator              word number
HT85b         KI-KI-RA-JA              êÑÅ         KI-RE-TA‚ÇÇ      1
SYZa2   A-TA-I-*301-WA-JA              êÑÅ  JA-SU-MA-TU-OLIV      1
HT10a            KU-NI-SU              êÑÅ             SA-MA      4
HT16             KA-KU-PA              êÑÅ           DI-NA-U    ¬π‚ÅÑ‚Çà
HT95b                A-DU              êÑÅ             SA-RU     10
HT1              QE-RA‚ÇÇ-U              êÑÅ             KI-RO    197
HT117b         *21F-TU-NE              êÑÅ          KU-RE-JU      1
HT94b               KI-RO              êÑÅ             TU-MA      1

                   word word separator logogram number
HT103             U-TA‚ÇÇ              êÑÅ       NI     40
HT12        QA-TI-DA-TE              êÑÅ   OLE+DI      5
HT123+124a      KI-TA-I              êÑÅ     OLIV     31
HT23a             KA-NA              êÑÅ      CYP    ¬π‚ÅÑ‚ÇÉ
ZA15b             KA-DI              êÑÅ      VIN      3
KNZb<27>        DI-NA-U              êÑÅ      VIN     17

,word,word separator,word,word separator
HT87,*21F-TU-NE,êÑÅ,MA-KA-RI-TE,êÑÅ
HT40,NU-DU-*331,êÑÅ,TE,êÑÅ
HT92,TE,êÑÅ,A-DU,êÑÅ
HT17,RA-ÛΩá´-TI,êÑÅ,TE,êÑÅ
KNZc6,*34-TI-RI-A-DI-DA-KI-TI-PA-KU,êÑÅ,NI-JA-NU,êÑÅ
HT9a,SA-RO,êÑÅ,TE,êÑÅ
HT96b,A-PA-RA-NE,êÑÅ,QA-*118-RA-RE,êÑÅ
HT52a,SA-MA,êÑÅ,TE,êÑÅ
HT116a,U-TA-RO,êÑÅ,TE,êÑÅ
HT96a,I-TI-TI-KU-NI,êÑÅ,A-PA-RA-NE,êÑÅ
HT117a,MA-KA-RI-TE,êÑÅ,KI-RO,êÑÅ
IOZa2,A-TA-I-*301-WA-JA,êÑÅ,JA-DI-KI-TU,êÑÅ
KNZc7,A-KA-NU-ZA-TI,êÑÅ,DU-RA-RE,êÑÅ
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ
KH5,A-DA-KI-SI-KA,êÑÅ,A-RA-U-DA,êÑÅ
IOZa6,TA-NA-I-*301-U-TI-NU,êÑÅ,I-NA-TA-I-ZU-DI-SI-KA,êÑÅ
HT34,DA-JU-TE,êÑÅ,SI-*516,êÑÅ
ARKHZf9,JA-KI-SI-KI-NU,êÑÅ,MI-DA-MA-RA‚ÇÇ,êÑÅ
TLZa1,A-TA-I-*301-WA-JA,êÑÅ,O-SU-QA-RE,êÑÅ
HT21,PI-TA-KA-SE,êÑÅ,TE,êÑÅ
SYZa4,A-TA-I-*301-WA-JA,êÑÅ,JA-I-NWA-ZA,êÑÅ
HT28a,A-SI-JA-KA,êÑÅ,JA-*21F,êÑÅ
HT93a,PA‚ÇÉ-NI-NA,êÑÅ,GRA-PA‚ÇÉ,êÑÅ
KH88,QA-NU-MA,êÑÅ,*21F-*118,êÑÅ
HT6a,KA-PA,êÑÅ,DA-TA-RA,êÑÅ
HT140,U-*34-SI,êÑÅ,*86-SI-NI,êÑÅ
HT19,RA-*164-TI,êÑÅ,TE,êÑÅ
ZA8,KI-RA,êÑÅ,A-TA-RE,êÑÅ
HTWc3017,QA-KU-RE,êÑÅ,DI-*306,êÑÅ
HT43,MA-SI-DU,êÑÅ,PA-*342-I,êÑÅ
HT28b,A-SI-JA-KA,êÑÅ,U-MI-NA-SI,êÑÅ
HT14,PU-VIN,êÑÅ,TE,êÑÅ

              word word separator logogram         word
HT95a  DA-DU-MA-TA              êÑÅ      GRA        DA-ME
HT7a         QE-TI              êÑÅ  VIR+[?]      I-RU-JA
MA1b          A-MA              êÑÅ      *47  QE-DE-MI-NU
ZA5a     *21F-*118              êÑÅ   VIN-SU     KI-NI-MA

                   word logogram number          word
HT108       KI-RE-TA-NA  VIR+[?]      1         GRA+H
HT88               A-DU   VIR+KA     20         RE-ZA
HT110a  SI-DU-*34-KU-MI    CYP+E     20         KU-PA
HT8a              JE-DI   OLE+KI     10  PA‚ÇÉ-KA-RA-TI

           logogram word separator        word word separator
HT26a    *406VAS+KE              êÑÅ  *312-TE-TE              êÑÅ
ZA1a           *516              êÑÅ    KI-RE-ZA              êÑÅ
LACHZa1          MI              êÑÅ     RI-DA-U              êÑÅ

                      word word separator   logogram word separator
HT27a             TI-NI-TA              êÑÅ       *307              êÑÅ
HT35              TI-TI-KU              êÑÅ       *326              êÑÅ
HT85a                 A-DU              êÑÅ  *307+*387              êÑÅ
HT115a        *47-NU-RA-JA              êÑÅ          I              êÑÅ
HT89              A-SA-RA‚ÇÇ              êÑÅ       *307              êÑÅ
ZA11a   DI-DI-KO-RA-ME-TA‚ÇÇ              êÑÅ       *516              êÑÅ
HT91                  I-KA              êÑÅ       *326              êÑÅ
HT81                  A-SE              êÑÅ   MI+JA+RU              êÑÅ
HT122b               JE-DI              êÑÅ       *346              êÑÅ
HT104                TA-PA              êÑÅ     TE+RO[              êÑÅ

                          word logogram number logogram
HT18                     PA-SE   GRA+QE     20   OLE+KI
HTZd157+156  WI-JA-SU-MA-TI-TI     *904      1     *904
HT101               ZU-*22F-DI   GRA+QE     40    OLE+U

                  word  logogram number number
ZA6b   I-KU-JU-TI-*28B    GRA+PA     50    ¬π‚ÅÑ‚ÇÑ
MA4b              A-JA  HIDE+[?]    123    160
HT129        KI-RE-TA‚ÇÇ       GRA     33     êùÜêùÅ

                     ]word word separator         word word separator
KNZf31    SI-SI-ZA-NE-*310              êÑÅ  DA-DU-MI-NE              êÑÅ
PKZa8                   NU              êÑÅ        PA‚ÇÉ-E              êÑÅ
ZAZb34           PU‚ÇÇ-RE-JA              êÑÅ        KO-MU              êÑÅ
SYZa1    A-TA-I-*301-WA-JA              êÑÅ      I-DA-MI              êÑÅ
HT62+73              SA-RA              êÑÅ           TE              êÑÅ
PKZa18                  TE              êÑÅ         I-DA              êÑÅ

       lacuna lacuna  ]word number
ZA27        êù´      êù´  DI-KI      2
HT41a       êù´      êù´  QE-TU     10
HT111a      êù´      êù´  QE-KA      8

       lacuna     ]word number[              ]word
HT46a       êù´     MU-RU       1              KU-RO
HT135a      êù´  NE-MI-NA      10              MI-TU
HT127a      êù´  DU-NE-MI       1  *304+PA-DA-*47-KU

      lacuna lacuna ]number[ lacuna
ZA30       êù´      êù´        7      êù´
KH67       êù´      êù´        1      êù´
HT53b      êù´      êù´       18      êù´

      lacuna lacuna  ]word number[
HT67       êù´      êù´  KU-RO     402
HT74       êù´      êù´  KU-RO      20
KN28b      êù´      êù´     TE      êùäêù´

        lacuna ]logogram number[ lacuna
HT109        êù´        RE       4      êù´
ZA28         êù´    GRA+PA       1      êù´
KH68+71      êù´  *401+[ ]      êùâêù´      êù´
ZA31         êù´        DU       2      êù´

       lacuna ]logogram number[ ]logogram
KH63        êù´        SU      10   *401+RU
KH84        êù´       CYP     ¬π‚ÅÑ‚ÇÇ      *301
HT131b      êù´        NI      30      OLIV
KH26        êù´   VIR+[?]      60        NI

     ]logogram[ number logogram number
MA6a   HIDE+[?]    941   HIDE+B     35
KH12        CYP      2     *308    ¬π‚ÅÑ‚ÇÇ
KH15        CYP    ¬π‚ÅÑ‚ÇÇ       NI    ¬π‚ÅÑ‚ÇÇ

        lacuna lacuna ]word[ lacuna
HT154ja      êù´      êù´  NU-TE      êù´
KH52         êù´      êù´   TA-U      êù´
KH44         êù´      êù´   *335      êù´

       ]logogram word separator           word word separator
KH14          RA              êÑÅ        A-MA-JA              êÑÅ
PLZf1         TA              êÑÅ    WI-TE-JA-MU              êÑÅ
KNZb4         JU              êÑÅ          JA-SI              êÑÅ
PKZa10        SI              êÑÅ  I-PI-NA-MI-NA              êÑÅ

         ]logogram number[ ]logogram number[
THEtab.4       CAP       7       CAP      46
KH25       VIR+[?]     140   VIR+[?]      10
PH3b        ]MI+JA     ¬≥‚ÅÑ‚ÇÑ        SI     ¬π‚ÅÑ‚ÇÑ

In [261]:
syn_seqs = getSyntacticalStructures(matched_sequences,False,8)
for k, en_seqs in syn_seqs.items():
    df = pd.DataFrame(en_seqs.values(), columns = k.split(','))
    df.set_axis(en_seqs.keys(), axis='index', inplace=True)
    #df.style.set_caption("Davis 2018 Mapping of Linear A and PD Symbols").set_table_styles(styles)
    display(df)

,word,word separator,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT117a,U-MI-NA-SI,êÑÅ,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1
HT88,KI-RO,êÑÅ,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT9b,KA-*305,êÑÅ,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4

,word,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA‚ÇÉ-NU,1,PA-TA-NE,1
HT9b,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1,TE-JA-RE,1

,word separator,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT117a,êÑÅ,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1
HT88,êÑÅ,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT85a,êÑÅ,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT9b,êÑÅ,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4

,number,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT117a,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA‚ÇÉ-NU,1

,logogram,number,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number
KH11,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4,CYP,¬π‚ÅÑ‚ÇÉ,*348-CYP,êùáêùâ,A-TO-*349-TO-I,CYP+E,3,NI,1,VIN,3
HT28a,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ,OLE+DI,1,NI,2,VIN,3
HT101,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ,GRA,41,OLE,10,DI+QE,3
HT14,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU‚ÇÇ-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word
HT23a,OLE+TU,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+RI,‚âà ¬π‚ÅÑ‚ÇÜ,MI+JA+RU,‚âà ¬π‚ÅÑ‚ÇÜ,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA
KH11,CYP,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SU,3,CYP+E,êùáêùâ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4,CYP,¬π‚ÅÑ‚ÇÉ,*348-CYP,êùáêùâ,A-TO-*349-TO-I
HT91,OLE+KI,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+U,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+MI,‚âà ¬π‚ÅÑ‚ÇÜ,OLIV,‚âà ¬π‚ÅÑ‚ÇÜ,NI,‚âà ¬π‚ÅÑ‚ÇÜ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,E,5,TE-RI

,word,word separator,word,number,word,number,word,number,word,number,word,number,word,number
HT9b,KA-*305,êÑÅ,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2
HT88,KI-RO,êÑÅ,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1
HT117a,U-MI-NA-SI,êÑÅ,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1
HT94b,KI-RO,êÑÅ,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5

,word,number,word,number,word,number,word,number,word,number,word,number,word,number
HT88,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT85a,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1,MI-RU-TA-RA-RE,1
HT9b,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4,KU-RO,24
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA‚ÇÉ-NU,1

,number,word,number,word,number,word,number,word,number,word,number,word,number
HT117a,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT88,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1,KU-RO,6
HT85a,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2,DI-NA-U,4
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1

,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number,logogram,number
HT101,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ,GRA,41,OLE,10,DI+QE,3
HT28a,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ,OLE+DI,1,NI,2,VIN,3
HT90,GRA,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA‚ÇÇ,GRA,1,NI,1,OLE+MI,1

,number,word,number,word,number,word,number,word,number,word also in linear b,number,word,number
HT122a,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA‚ÇÉ-NU,1
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT85a,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1

,word,word separator,word,number,word,number,word,number,word,number,word,number
HT117a,SA-TA,êÑÅ,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1
HT1,QE-RA‚ÇÇ-U,êÑÅ,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA‚ÇÉ-NU,109,A-RA-NA-RE,105
HT94b,KI-RO,êÑÅ,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
HT9b,KA-*305,êÑÅ,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2
HT87,MA-KA-RI-TE,êÑÅ,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT88,KI-RO,êÑÅ,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1

,number,word,number,number,word,number,word,number,word,number,word,number
PE2,¬π‚ÅÑ‚ÇÉ,RU-PI-*305-MI,1,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ
HT13,56,TE-KI,27,¬π‚ÅÑ‚ÇÇ,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130
HT8a,¬π‚ÅÑ‚ÇÇ,PA,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ,SI-KI-RA,¬π‚ÅÑ‚ÇÑ,KI-RE-TA-NA,¬π‚ÅÑ‚ÇÇ

,word,number,word,number,word,number,word,number,word,number,word,number
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1,U-DI-MI,1
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT9b,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1
HT95a,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10,QE-RA‚ÇÇ-U,7
HT94b,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5
HT85a,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
HT88,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1

,word,word separator,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number
HT28a,JA-*21F,êÑÅ,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ
HT23a,KA-NA,êÑÅ,CYP,¬π‚ÅÑ‚ÇÉ,*308,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+NE,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+TU,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+RI,‚âà ¬π‚ÅÑ‚ÇÜ
HT14,TE,êÑÅ,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13

,word,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number
HT18,PA-SE,GRA+QE,20,OLE+KI,2,*304,3,SA-RA‚ÇÇ,GRA,10,NI,10
HT90,SA-RA‚ÇÇ,GRA,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA‚ÇÇ,GRA,1,NI,1
KH11,A-TO-*349-TO-I,CYP+E,3,NI,1,VIN,3,A-TA-*350,*301,1,*306,1

,number,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word
HT91,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+MI,‚âà ¬π‚ÅÑ‚ÇÜ,OLIV,‚âà ¬π‚ÅÑ‚ÇÜ,NI,‚âà ¬π‚ÅÑ‚ÇÜ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,E,5,TE-RI
HT34,êùÖêùá,QA2+[?]+PU,‚âà ¬π‚ÅÑ‚ÇÜ,QA2+[?]+RE,¬π‚ÅÑ‚ÇÑ,MI+JA+I,245,SA+MU+KU,100,PA‚ÇÉ,70,KI-RO
KH11,3,CYP+E,êùáêùâ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4,CYP,¬π‚ÅÑ‚ÇÉ,*348-CYP,êùáêùâ,A-TO-*349-TO-I

,]word,number,word,number,word,number,word,number,word,number,word,number
HT122b,A-RA-JU-U-DE-ZA,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO,97
HT122a,DI,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1
ZA4a,TU-ME-SE,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI,3

,word separator,word,number,word,number,word,number,word,number,word,number
HT87,êÑÅ,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT117a,êÑÅ,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1
HT9b,êÑÅ,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2
HT94b,êÑÅ,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
HT1,êÑÅ,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA‚ÇÉ-NU,109,A-RA-NA-RE,105
HT88,êÑÅ,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1
HT85a,êÑÅ,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5

,word,number,number,word,number,word,number,word,number,word,number
HT8a,PA,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ,SI-KI-RA,¬π‚ÅÑ‚ÇÑ,KI-RE-TA-NA,¬π‚ÅÑ‚ÇÇ
PE2,RU-PI-*305-MI,1,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ
HT6b,WA-DU-NI-MI,3,‚âà ¬π‚ÅÑ‚ÇÜ,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3

,number,word,number,word,number,number,word,number,word,number,number
HT10b,2,TA-RI-NA,15,*312-TA,6,¬π‚ÅÑ‚ÇÇ,KA-SA-RU,6,TA-NA-TI,9,¬π‚ÅÑ‚ÇÑ
HT8b,5,PA‚ÇÉ-*188,2,QA-*310-I,1,¬≥‚ÅÑ‚Çà,KA-PA,¬π‚ÅÑ‚ÇÇ,PA-JA-RE,1,¬π‚ÅÑ‚Çà
HT6b,3,DU-DA-MA,66,DA-KI,3,¬π‚ÅÑ‚ÇÑ,SA-MA,35,PA‚ÇÉ-NI-NA,17,¬π‚ÅÑ‚ÇÇ

,word,number,word,number,word,number,number,word,number,word,number
HT6b,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3,¬π‚ÅÑ‚ÇÑ,SA-MA,35,PA‚ÇÉ-NI-NA,17
HT10b,DA-RE,2,TA-RI-NA,15,*312-TA,6,¬π‚ÅÑ‚ÇÇ,KA-SA-RU,6,TA-NA-TI,9
ZA15a,MI-ZA-SE,3,*28B-NU-MA-RE,6,SI-PI-KI,2,¬π‚ÅÑ‚ÇÇ,JA-SA-MU,5,SA-MI-DA-E,4

,number,word,number,word,number,word,number,word,number,word,number
PE2,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ,TO-*49-RE,1
ZA4a,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI,3
HT88,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE,1
HT85a,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3
HT95a,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10,QE-RA‚ÇÇ-U,7
ZA20,4,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3,KU-RA,130
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1
HT98a,1,TA-NA-TI,¬≥‚ÅÑ‚ÇÑ,DI-RE-DI-NA,¬π‚ÅÑ‚ÇÇ,TE-*301,¬≥‚ÅÑ‚ÇÑ,RO-KE,¬π‚ÅÑ‚ÇÇ,KA-RI-*310-I,¬π‚ÅÑ‚ÇÑ
HT94b,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO,5
HT117a,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1
HT122b,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO,97
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1

,word,number,word,number,word,number,word,number,word,number,word
HT85a,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE
ZA14,ME-KI-DI,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1,TU-MI-TI-ZA-SE
HT117a,U-SU,1,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE
HT9b,PA-DE,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE
HT95a,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10,QE-RA‚ÇÇ-U
HT94b,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1,KU-RO
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I
HT88,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1,DA-TA-RE

,logogram,number,logogram,number,logogram,number,word,logogram,number,logogram,number
HT14,OLE+DI,3,*304,9,OLIV,13,A-PU‚ÇÇ-NA-DU,GRA,45,OLE+MI,5
HT28a,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ,OLE+DI,1,NI,2
HT101,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ,GRA,41,OLE,10
HT18,GRA+QE,20,OLE+KI,2,*304,3,SA-RA‚ÇÇ,GRA,10,NI,10

,logogram,number,logogram,number,logogram,number,logogram,number,word,logogram,number
HT14,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU‚ÇÇ-NA-DU,GRA,45
HT101,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ,GRA,41
HT116a,GRA,16,OLE+KI,1,OLE+MI,6,OLIV,3,PI-*34-TE,GRA,5
KH11,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4,CYP,¬π‚ÅÑ‚ÇÉ,*348-CYP,êùáêùâ,A-TO-*349-TO-I,CYP+E,3
HT28b,GRA,20,OLE+DI,5,NI,2,VIN,4,PU-RA‚ÇÇ,NI,6
HT28a,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ,OLE+DI,1

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number,word
HT28a,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ
HT14,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU‚ÇÇ-NA-DU
HT34,QA2+[?]+PU,‚âà ¬π‚ÅÑ‚ÇÜ,QA2+[?]+RE,¬π‚ÅÑ‚ÇÑ,MI+JA+I,245,SA+MU+KU,100,PA‚ÇÉ,70,KI-RO

,word separator,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number
HT14,êÑÅ,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13
HT28a,êÑÅ,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ
HT91,êÑÅ,OLE+KI,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+U,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+MI,‚âà ¬π‚ÅÑ‚ÇÜ,OLIV,‚âà ¬π‚ÅÑ‚ÇÜ,NI,‚âà ¬π‚ÅÑ‚ÇÜ

,logogram,number,logogram,number,logogram,number,logogram,number,word,number,word
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16,KU-RO,97,SA-RA‚ÇÇ
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO,110,SA-RA‚ÇÇ
HT23a,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SA-SA-ME

,word,number,word,number,word,number,word,number,word,number,word[
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¬π‚ÅÑ‚ÇÇ,PA-RA-NE,1,A-SE-JA,êùÇêùÇêùÇêùÇ,KA-PO-RU,1,RI-SU-MA
HT85a,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4,KU-RO
HT87,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1,A-RA

,number,word,number,word,number,word,number,word also in linear b,number,word,number
PE2,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ,TO-*49-RE,1
HT85b,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1,QA-*310-I,1
ZA10a,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1,DU-RE-ZA-SE,2
HT85a,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5,TE-KE,3,DA-RE,4
HT122a,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1,PA-DE,1,KU-PA‚ÇÉ-NU,1

,word,number,word,number,word,number,word,number,word,number
ZA4a,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI,3
HT88,KU-PA‚ÇÉ-PA‚ÇÉ,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1
HT98a,TA-NA-TI,¬≥‚ÅÑ‚ÇÑ,DI-RE-DI-NA,¬π‚ÅÑ‚ÇÇ,TE-*301,¬≥‚ÅÑ‚ÇÑ,RO-KE,¬π‚ÅÑ‚ÇÇ,KA-RI-*310-I,¬π‚ÅÑ‚ÇÑ
HT87,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT7a,I-RU-JA,3,DU-JA,4,TA-NA-TI,1,DA-RE,1,TE-TU,1
HT95a,DA-ME,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10
HT115a,NA-*21F-NE-MI-NA,1,SE-KU-TU,¬π‚ÅÑ‚ÇÇ,PA-RA-NE,1,A-SE-JA,êùÇêùÇêùÇêùÇ,KA-PO-RU,1
HT9b,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2,TA-I-AROM,2
HT11a,KA-RO-NA,2,*322-RI,1,KU-RO,10,A-SU-JA,1,VIR+[?]-I,3
ZA14,ME-KI-DI,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1
HT117a,MI-TU,1,KU-RA-MU,1,MA-RU,1,KU-PA‚ÇÉ-NU,1,TU-JU-MA,1
HT122a,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA,1
HT94b,TU-MA,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1
HT85a,DA-RI-DA,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5
HT95b,DA-ME,10,MI-NU-TE,10,KU-NI-SU,10,DI-DE-RU,10,QE-RA‚ÇÇ-U,10
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1
ZA20,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3,KU-RA,130
HT122b,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO,97
PE2,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ,TO-*49-RE,1
HT1,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA‚ÇÉ-NU,109,A-RA-NA-RE,105

,word,word separator,word,number,word,number,word,number,word,number
HT1,QE-RA‚ÇÇ-U,êÑÅ,KI-RO,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA‚ÇÉ-NU,109
HT117a,SA-TA,êÑÅ,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1
HT87,MA-KA-RI-TE,êÑÅ,PI-TA-KE-SI,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1

,logogram,number,word,number,logogram,number,word,number,word,number
HT118,KI,4,A-RI-SU,4,KI,1,RI-RU-MA,10,KU-RO,30
HT6a,NI,15,PI-TA-JA,24,JA+RU,êùì,MA-*321,10,O-RA‚ÇÇ-DI-NE,2
HT89,JU+*317+QE,22,MA-I-MI,24,VIR+*313a,13,TA-RA,5,KU-RO,87

,number,number,word,number,word,number,word,number,word,number
HT8a,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ,SI-KI-RA,¬π‚ÅÑ‚ÇÑ,KI-RE-TA-NA,¬π‚ÅÑ‚ÇÇ
PE2,1,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ
HT9a,5,¬≥‚ÅÑ‚ÇÑ,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2

,number,word,number,number,word,number,word,number,word,number
HT13,56,TE-KI,27,¬π‚ÅÑ‚ÇÇ,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5
HT8a,¬π‚ÅÑ‚ÇÇ,PA,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ,SI-KI-RA,¬π‚ÅÑ‚ÇÑ
PE2,¬π‚ÅÑ‚ÇÉ,RU-PI-*305-MI,1,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ
ZA15a,6,SI-PI-KI,2,¬π‚ÅÑ‚ÇÇ,JA-SA-MU,5,SA-MI-DA-E,4,*363-KE-MA-SE,5

,logogram,number,logogram,number,logogram,number,logogram,number,word,number
HT34,QA2+[?]+RE,¬π‚ÅÑ‚ÇÑ,MI+JA+I,245,SA+MU+KU,100,PA‚ÇÉ,70,KI-RO,37
HT12,*118,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¬π‚ÅÑ‚ÇÅ‚ÇÜ,DA-I,50
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16,KU-RO,97
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO,110
HT127b,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14,KU-RO,291
HT23a,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA,¬π‚ÅÑ‚ÇÅ‚ÇÜ

,word,word separator,word,word separator,logogram,number,logogram,number,logogram,number
HT21,PI-TA-KA-SE,êÑÅ,TE,êÑÅ,GRA,161,OLE+U,11,OLE+E,3
HT28a,A-SI-JA-KA,êÑÅ,JA-*21F,êÑÅ,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ
HT14,PU-VIN,êÑÅ,TE,êÑÅ,GRA,30,OLE+MI,3,OLE+DI,3

,logogram,number,logogram,number,logogram,number,logogram,number,logogram,number
HT33,E+KA,êùÉêùâ,MI+JA+KA,¬π‚ÅÑ‚ÇÖ,*305,90,*341+PI,100,PA3+QE,100
THEZg5,MA,40,PU,5,*171,7,ZO,9,TA,4
HT34,QA2+[?]+PU,‚âà ¬π‚ÅÑ‚ÇÜ,QA2+[?]+RE,¬π‚ÅÑ‚ÇÑ,MI+JA+I,245,SA+MU+KU,100,PA‚ÇÉ,70
HT28a,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ
HT91,OLE+KI,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+U,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+MI,‚âà ¬π‚ÅÑ‚ÇÜ,OLIV,‚âà ¬π‚ÅÑ‚ÇÜ,NI,‚âà ¬π‚ÅÑ‚ÇÜ
HT14,GRA,30,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13
KH11,CYP,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SU,3,CYP+E,êùáêùâ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4
HT23a,CYP,¬π‚ÅÑ‚ÇÉ,*308,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+NE,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+TU,‚âà ¬π‚ÅÑ‚ÇÜ,OLE+RI,‚âà ¬π‚ÅÑ‚ÇÜ

,number,logogram,number,logogram,number,word,logogram,number,logogram,number
HT18,20,OLE+KI,2,*304,3,SA-RA‚ÇÇ,GRA,10,NI,10
HT90,20,NI,10,OLE+DI,3,SI-RU-MA-RI-TA‚ÇÇ,GRA,1,NI,1
HT116a,5,OLE+MI,1,*OLIV+TU,2,SI-KI-NE,GRA,12,*304,12

,number,logogram,number,number,logogram,number,number,logogram,number,number
HTZd157+156,1,*904,1,¬π‚ÅÑ‚ÇÇ,*904,2,¬π‚ÅÑ‚ÇÑ,*904,3,¬≥‚ÅÑ‚Çà
HT100,¬π‚ÅÑ‚ÇÑ,NI,2,double mina,VIN,2,¬π‚ÅÑ‚ÇÇ,OLE+U,2,‚âà ¬π‚ÅÑ‚ÇÜ
HT21,11,OLE+E,3,¬≥‚ÅÑ‚ÇÑ,*304,7,¬≥‚ÅÑ‚ÇÑ,OLIV,1,¬π‚ÅÑ‚ÇÑ

,word,logogram,number,logogram,number,logogram,number,logogram,number,word
HT28b,SA-RA‚ÇÇ,GRA,20,OLE+DI,5,NI,2,VIN,4,PU-RA‚ÇÇ
HT101,ZU-*22F-DI,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ
HT94a,62,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO
HT127b,72,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14,KU-RO

,word,number,word,number,word,number,word,number,word also in linear b,number
HT85b,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1,MA-DI,1
ZA10a,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1,DA-I-PI-TA,1
HT117a,KU-KU-DA-RA,1,KO-SA-I-TI,1,DA-MI-NU,1,DA-NE-KU-TI,1,KI-DA-RO,1

,number,word,number,word,number,word,number,word,number,word
HT122b,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65,PO-TO-KU-RO
ZA14,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1,TU-MI-TI-ZA-SE
PE2,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ,TO-*49-RE
ZA4a,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50,KA-DI
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1,*324-DI-RA
HT98a,1,TA-NA-TI,¬≥‚ÅÑ‚ÇÑ,DI-RE-DI-NA,¬π‚ÅÑ‚ÇÇ,TE-*301,¬≥‚ÅÑ‚ÇÑ,RO-KE,¬π‚ÅÑ‚ÇÇ,KA-RI-*310-I

,number,word,number,word,number,word,number,word,number
HT1,197,ZU-SU,70,DI-DI-ZA-KE,52,KU-PA‚ÇÉ-NU,109,A-RA-NA-RE,105
HT117a,1,MI-RU-TA-RA-RE,1,TE-JA-RE,1,NA-DA-RE,1,KU-RO,10
HT6b,‚âà ¬π‚ÅÑ‚ÇÜ,RA-TI-SE,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3
HT98a,1,TA-NA-TI,¬≥‚ÅÑ‚ÇÑ,DI-RE-DI-NA,¬π‚ÅÑ‚ÇÇ,TE-*301,¬≥‚ÅÑ‚ÇÑ,RO-KE,¬π‚ÅÑ‚ÇÇ
HT122a,1,TE-KI,2,QA-*310-I,3,JA-MI-DA-RE,1,SI-DA-RE,1
HT87,1,JA-RE-MI,1,DI-KI-SE,1,QE-SU-PU,1,KU-RU-KU,1
HT115a,1,SE-KU-TU,¬π‚ÅÑ‚ÇÇ,PA-RA-NE,1,A-SE-JA,êùÇêùÇêùÇêùÇ,KA-PO-RU,1
HT11a,2,*322-RI,1,KU-RO,10,A-SU-JA,1,VIR+[?]-I,3
HT9b,3,A-SI,3,*306-TU,8,*324-DI-RA,2,QE-PU,2
HT85b,1,DI,1,ME-ZA,1,RE-DI-SE,1,WA-DU-NI-MI,1
ZA10a,1,A-KU-MI-NA,1,A-TA-NA-TE,1,A-MI-DA-U,1,A-DU-KU-MI-NA,1
ZA14,1,*21F-*118,1,PU-NI-KA-*363,3,QA-TI-JU,8,KU-PI,1
HT85a,12,PA‚ÇÉ-NI,12,U-*325-ZA,6,DA-SI-*118,24,KU-ZU-NI,5
HT94b,1,PA-TA-NE,1,DE-DI,1,KE-KI-RU,1,SA-RU,1
ZA20,4,SI-TE-TU,1,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3
HT9a,¬≥‚ÅÑ‚ÇÑ,*306-TU,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2
HT119,7,JA-*345,10,*306-TU,2,*327-JU,8,KU-RO,160
HT122b,2,QA-QA-RU,2,DI,2,DA-RE,2,KU-RO,65
HT95b,10,MI-NU-TE,10,KU-NI-SU,10,DI-DE-RU,10,QE-RA‚ÇÇ-U,10
HT13,¬π‚ÅÑ‚ÇÇ,KU-ZU-NI,18,DA-SI-*118,19,I-DU-NE-SI,5,KU-RO,130
ZA4a,18,QE-SI-ZU-E,4,*28B-NU-MA-RE,13,SI-PI-KI,5,E-*82,50
PE2,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ
HT8a,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ,SI-KI-RA,¬π‚ÅÑ‚ÇÑ,KI-RE-TA-NA,¬π‚ÅÑ‚ÇÇ
HT88,1,KA-JU,1,KU-PA‚ÇÉ-NU,1,PA-JA-RE,1,SA-MA-RO,1
HT95a,10,MI-NU-TE,10,SA-RU,20,KU-NI-SU,10,DI-DE-RU,10
HT7a,3,DU-JA,4,TA-NA-TI,1,DA-RE,1,TE-TU,1

,number,word,number,word,number,word,number,number,word
HT10b,1,DA-RE,2,TA-RI-NA,15,*312-TA,6,¬π‚ÅÑ‚ÇÇ,KA-SA-RU
HT6a,êùì,MA-*321,10,O-RA‚ÇÇ-DI-NE,2,KA-PA-QE,5,¬≥‚ÅÑ‚ÇÑ,DA-QE-RA
HT9a,10,DI-NA-U,4,QE-PU,2,*324-DI-RA,2,¬π‚ÅÑ‚ÇÇ,TA-I-AROM
HT6b,1,MA-RI-RE-I,3,DU-DA-MA,66,DA-KI,3,¬π‚ÅÑ‚ÇÑ,SA-MA

,number,logogram,number,word,number,word,number,word,number
HT103,¬π‚ÅÑ‚ÇÇ,*188,13,DA-KU-NA,1,DA-KU-SE-NE,1,KI-RA,5
HT119,34,VIR+[?],67,RI-MI-SI,13,KO-JA,10,KU-PA‚ÇÉ-NA-TU,7
HT85b,1,KA,1,DI,1,ME-ZA,1,RE-DI-SE,1
HT6a,24,JA+RU,êùì,MA-*321,10,O-RA‚ÇÇ-DI-NE,2,KA-PA-QE,5

,number,number,word,number,number,word,number,word,number
HT8a,1,¬π‚ÅÑ‚ÇÇ,PA,3,¬π‚ÅÑ‚ÇÇ,TE-*301,2,QA-*310-I,¬≥‚ÅÑ‚ÇÑ
PE2,3,¬π‚ÅÑ‚ÇÉ,RU-PI-*305-MI,1,¬π‚ÅÑ‚Çà,A-*325-ZA,¬π‚ÅÑ‚ÇÑ,A-RI-PA,¬π‚ÅÑ‚ÇÑ
HT104,45,¬π‚ÅÑ‚ÇÇ,I-DU-TI,20,¬π‚ÅÑ‚ÇÇ,PA-DA-SU-TI,29,KU-RO,95

,word separator,logogram,number,logogram,number,logogram,number,logogram,number
HT12,êÑÅ,*118,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¬π‚ÅÑ‚ÇÅ‚ÇÜ
HT28a,êÑÅ,GRA+QE,5,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1
HT14,êÑÅ,GRA,30,OLE+MI,3,OLE+DI,3,*304,9

,logogram,number,logogram,number,logogram,number,logogram,number,word
HT116a,GRA,16,OLE+KI,1,OLE+MI,6,OLIV,3,PI-*34-TE
KH11,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,*306,4,CYP,¬π‚ÅÑ‚ÇÉ,*348-CYP,êùáêùâ,A-TO-*349-TO-I
HT127b,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14,KU-RO
HT100,TI+A,12,KI,2,*305,5,VIR+*313a,16,KU-RO
HT28b,GRA,20,OLE+DI,5,NI,2,VIN,4,PU-RA‚ÇÇ
HT94a,*86,20,TI+A,7,VIR+*313b,18,TA,4,KU-RO
HT23a,VIN,10,QA2+[?]+RE,10,QA2+[?]+RE+PU,10,E,17,*21F-RI-TU-QA
HT28a,OLE+U,2,OLE+KI,¬π‚ÅÑ‚ÇÇ,OLE+MI,1,OLE+TU,êùâ,SA-RA‚ÇÇ
HT101,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2,SA-RA‚ÇÇ
HT34,QA2+[?]+RE,¬π‚ÅÑ‚ÇÑ,MI+JA+I,245,SA+MU+KU,100,PA‚ÇÉ,70,KI-RO
HT12,*118,5,CYP+E,3,NI,1,QA2+[?]+PU+RE,¬π‚ÅÑ‚ÇÅ‚ÇÜ,DA-I
HT91,OLIV,‚âà ¬π‚ÅÑ‚ÇÜ,NI,‚âà ¬π‚ÅÑ‚ÇÜ,VIN,‚âà ¬π‚ÅÑ‚ÇÜ,E,5,TE-RI
HT14,OLE+MI,3,OLE+DI,3,*304,9,OLIV,13,A-PU‚ÇÇ-NA-DU

,word,logogram,number,logogram,number,logogram,number,logogram,number
HT28b,SA-RA‚ÇÇ,GRA,20,OLE+DI,5,NI,2,VIN,4
HT94a,62,*86,20,TI+A,7,VIR+*313b,18,TA,4
HT127b,72,VIR+*313c,24,KI+MU,15,*301,11,KI+MU,14
HT35,I-KU-TA,CYP,1,MI+JA+RU,¬π‚ÅÑ‚ÇÉ,OLE+RI,¬π‚ÅÑ‚ÇÉ,*308,¬π‚ÅÑ‚ÇÉ
HT90,SI-RU-MA-RI-TA‚ÇÇ,GRA,1,NI,1,OLE+MI,1,*304,1
HT14,A-PU‚ÇÇ-NA-DU,GRA,45,OLE+MI,5,OLE+DI,4,*304,6
HT101,ZU-*22F-DI,GRA+QE,40,OLE+U,8,OLE+MI,8,OLE+KI,2

,word,word separator,word,word separator,logogram,number,word,number,word
ZA8,KI-RA,êÑÅ,A-TA-RE,êÑÅ,NI,¬π‚ÅÑ‚ÇÇ,KU-TU-KO-RE,double mina,A-RI-NI-TA
HT115b,TI-NU-JA,êÑÅ,NU-WI,êÑÅ,GRA,¬π‚ÅÑ‚ÇÇ,DU-PA‚ÇÉ-NA,1,KU-RU-MA
HT17,RA-ÛΩá´-TI,êÑÅ,TE,êÑÅ,VIN,37,SA-RO,10,SI-DA-RE

,number,logogram,number,word,number,word,number,logogram,number
HT23a,10,E,17,*21F-RI-TU-QA,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SA-SA-ME,¬π‚ÅÑ‚ÇÅ‚ÇÜ,SI+ME,10
HT89,24,VIR+*313a,13,TA-RA,5,KU-RO,87,CYP,2
HT49a,1,*312,1,KU-PA‚ÇÉ-NU,1,TU-SU-PU‚ÇÇ,1,KI,1

,word,word separator,word,word separator,word,logogram,number,logogram,number
HT28b,A-SI-JA-KA,êÑÅ,U-MI-NA-SI,êÑÅ,SA-RA‚ÇÇ,GRA,20,OLE+DI,5
KH5,A-DA-KI-SI-KA,êÑÅ,A-RA-U-DA,êÑÅ,WI-SA-SA-NE,CYP+E,2,VINb+WI,2
KH7a,I-JA-PA-ME,êÑÅ,TA-TA,êÑÅ,QA-TI-KI,VIR+*313b,4,CYP+D,¬π‚ÅÑ‚ÇÉ

,number,word,number,logogram,number,word,number,word,number
HT119,10,KU-PA‚ÇÉ-NA-TU,7,TI,7,JA-*345,10,*306-TU,2
HT118,4,A-RI-SU,4,KI,1,RI-RU-MA,10,KU-RO,30
HT89,22,MA-I-MI,24,VIR+*313a,13,TA-RA,5,KU-RO,87

,word,word separator,word,word separator,word,word separator,word,word separator,word
KNZf31,DA-DU-MI-NE,êÑÅ,QA-MI-*47-NA-RA,êÑÅ,A-WA-PI,êÑÅ,TE-SU-DE-SE-KE-I,êÑÅ,A-DA-RA
PLZf1,WI-TE-JA-MU,êÑÅ,U-QE-TI,êÑÅ,JA-SA-SA-RA-ME,êÑÅ,TA-NU-NI-KI-NA,êÑÅ,NI-NU-NI
CR(?)Zf1,A-MA-WA-SI,êÑÅ,KA-NI-JA-MI,êÑÅ,I-JA,êÑÅ,QA-KI-SE-NU-TI,êÑÅ,A-TA-DE
KOZa1,TU-RU-SA,êÑÅ,DU-*314-RE,êÑÅ,I-DA-A,êÑÅ,U-NA-KA-NA-SI,êÑÅ,I-PI-NA-MA

,word,number,word,number,word,number,word,number,lacuna
PH2,A-SE-TU-*21F,1,RA-O-DI-KI,60,PI-RU-E-JU,60,SE-SA-PA‚ÇÉ,60,êù´
ZA20,SI-TU,6,TE-AROM,12,RU-MA-TA-SE,3,KU-RA,130,êù´
PE2,A-RI-PA,¬π‚ÅÑ‚ÇÑ,QA-QA-DA,¬π‚ÅÑ‚ÇÇ,TO-ME,¬π‚ÅÑ‚ÇÉ,TO-*49-RE,1,êù´

In [280]:
mat_seq_cnt = {k: len(v) for k,v in matched_sequences.items()
               if len(k.split(',')) > 8 and len(v) > 5}

df = pd.DataFrame(mat_seq_cnt.values(), columns = ["Count"])
df.set_axis(mat_seq_cnt.keys(), axis='index', inplace=True)
#df.style.set_caption("Davis 2018 Mapping of Linear A and PD Symbols").set_table_styles(styles)
display(df.sort_values(by=['Count'], ascending=False))

                                                    Count
number,word,number,word,number,word,number,word...     29
word,number,word,number,word,number,word,number...     23
number,word,number,word,number,word,number,word...     14
logogram,number,logogram,number,logogram,number...     13
word,number,word,number,word,number,word,number...     12
word,number,word,number,word,number,word,number...     11
logogram,number,logogram,number,logogram,number...     10
word separator,word,number,word,number,word,num...      8
word,word separator,word,number,word,number,wor...      7
number,word,number,word,number,word,number,word...      7
word,logogram,number,logogram,number,logogram,n...      7
logogram,number,logogram,number,logogram,number...      6
logogram,number,logogram,number,logogram,number...      6
number,word,number,word,number,word,number,word...      6

In [229]:
word_structures["HT24a"]

[['word'],
 ['logogram['],
 [']number'],
 ['logogram'],
 ['number'],
 [']number'],
 ['fraction', 'number'],
 ['logogram'],
 ['number'],
 ['adjective for placename', 'word'],
 ['logogram['],
 ['word'],
 ['logogram[']]

In [248]:
{20} & {20, 10}

{20}

In [18]:
# Write out a template file for the selected inscription
name = "HT86a"
output_file = open(name + ".js", "w")
output_file.write(json.dumps([x for x in inscriptions if x["name"] == name], sort_keys=True, indent=4, ensure_ascii=False))
output_file.close()